<footer class="page-footer font-small blue">
  <div class="footer-contents">
    <a *ngFor="let contents of footerContents">{{contents.name}}</a>
  </div>
  <div class="footer-copyright text-center py-1 allrights">
    <span>Abu Dhabi Police © All Rights Reserved</span>
  </div>
</footer>