<nav class="navbar navbar-expand-lg navbar-light ">
   <h1>Loans</h1>
   <form class="form-inline my-2 my-lg-0"> 
    <div class="input-group mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fas fa-search"></i></div>
        </div>
        <input class="form-control mr-sm-2" type="search" placeholder="Search Approvals" aria-label="Search">
      </div>
  </form>
  <section>
    <a (click) = "logOut()"><abbr title="Logout"><i class="fas fa-power-off"></i></abbr></a>
  </section>
</nav>
