nav{
    height: 75px;
    background: white;
    border: 1px solid #EAEAEC;
    border-left: none;
    padding: 20px 85px 20px 30px;
    position: fixed;
    width: calc(100% - 200px);
    top: 0;
    left:200px;
    z-index: 1000;
    h1{
        color: #323846;
        font-size: 28px;
        font-family: 'CircularStd', sans-serif;
        font-weight: 600;
        margin-bottom: 0px;
    }
    form{
        position: absolute;
        right: 175px;
        border-bottom: 2px solid rgba(50, 56, 70, 0.5);
        width: 325px;
        .form-control{
            border: none;
           &:focus {
                color: #495057;
                background-color: #fff;
                border-color: transparent;
                outline: 0;
                box-shadow: 0 0 0 0rem transparent;
            }
        }
        .input-group-text{
            border: none;
            background-color: white;
        }
    }
    section{
        position: absolute;
        right: 85px;
        top: 55%;
        transform: translateY(-50%);
        i.fas.fa-power-off {
            font-size: 20px;
            color: #323846;
        }
    }
}
abbr{
    cursor: pointer;
}