.loginContainer{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url('../../../assets/images/loginBanner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    position: fixed;
    top: 50px;
    left: 85px;
    img{
        background-color: white;
        padding: 10px 1px;
        border-radius: 6px;
    }
    span{
        color: #333333;
        font-family: 'CircularStd', sans-serif;
        font-size: 36px;
        font-weight: 600;
        position: relative;
        top: 8px;
        left: 10px;
    }
}
.loginCard{
    width: 40%;
    height: 425px;
    background: white;
    position: fixed;
    top: 47%;
    right: 85px;
    transform: translateY(-50%);
    border-radius: 3px;
    max-width: 490px;
    overflow: hidden;
    section{
        &:first-child{
            height: 80px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: #FBF9F3;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            padding: 15px 40px;
            box-sizing: border-box;
            h1{
                font-family: 'CircularStd', sans-serif;
                color: #323846;
                font-size: 28px;
                font-weight: 700;
                margin-block-start: 0px;
                margin-block-end: 0px;
            }
            p{
                font-size: 12px;
                color: #323846;
                margin-block-end: 0px;
                margin-block-start: 0px;
            }
        }
        &:last-child{
            height: 45px;
            width: 100%;
            background: #E6F3FF;
            position: absolute;
            bottom: 0;
            left: 0;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding: 15px 40px;
            box-sizing: border-box;
            p{
                margin-block-end: 0px;
                margin-block-start: 0px;
                color: #323846;
                text-align: center;
                span{
                    font-weight: 600;
                }
            }
        }
    }
    form{
        padding-top: 135px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

///////////// Floating Label ////////////

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .form-control-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    color: #323846;
    font-size: 12px;
  }
  
  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity:0.5;
    position: absolute;
    left: -13px;
  }
  .form-control{
    width: 100%;
    height: 30px;
    border-color: white;
    border-bottom-color: rgba(50, 56, 70, 0.5);
    border-top-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    border-right: none;
    border-width: 1px;
    border-radius: 0px;
    &:focus{
        outline: -webkit-focus-ring-color auto 0px;
        box-shadow: none;
    }
  }
  input:-internal-autofill-selected {
    background-color: #ffffff !important;
    background-image: none !important;
    color: #323846;
}
.prefillPos{
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity:0.5;
    position: absolute;
    left: -13px;
}
  ///////////// Floating Label ////////////

  .fas{
    color: #323846;
    font-weight: 600;
  }
  .form-control:disabled, .form-control[readonly] {
    background-color: #ffffff;
    opacity: 1;
}