<section class="loginContainer">
    <header>
        <img src="assets/images/brandLogo.png" />
        <span>HSBC</span>
    </header>
    <section class="loginCard">
        <section>
            <h1>Sign In</h1>
            <p>Enter your details to sign in</p>
        </section>
        <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="form-group mb-5">
                <input type="text" id="name" class="form-control" autocomplete="off"  readonly onfocus="this.removeAttribute('readonly');" formControlName="username" required>
                <label class="form-control-placeholder" for="name" >Username</label>
                <div *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)" class="red absError">
                    <div *ngIf="loginForm.controls['username'].errors.required">
                    * Username is required.
                  </div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" #password class="form-control" autocomplete="off"  readonly onfocus="this.removeAttribute('readonly');" formControlName="password" required>
                <label class="form-control-placeholder" for="password" >Password</label>
                <button type="button" (click)="password.type=password.type=='password'?'text':'password'" class="btnViewPassword"> 
                    <i [ngClass]="password.type=='password' ? 'fas fa-eye' : 'fas fa-eye-slash'"></i></button>
               
                <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="red absError">
                    <div *ngIf="loginForm.controls['password'].errors.required">
                    * Password is required.
                  </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3"  [disabled]="!loginForm.valid">SIGN IN</button>
        </form>
        <section>
            <p>Trouble <span>signing in</span>?</p>
        </section>
    </section>
    <app-login-footer></app-login-footer>
</section>
