.blockChainContainer .bookingStatusBar .statusbox {
  margin-top: 40px;
  margin-bottom: 30px;
}

.blockChainContainer .bookingStatusBar .statusbox .statusTitle {
  font-size: 16px;
  font-weight: 700;
  font-family: 'CircularStd';
  color: #fff;
  margin-bottom: 0;
}

.blockChainContainer .bookingStatusBar .statusbox .statusSub {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  font-family: 'Roboto',sans-serif;
  opacity: 0.8;
}

.blockChainContainer .bookingStatusBar .statusbox .homeLoanbtn {
  font-size: 12px;
  color: #161037;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #fff;
  border-radius: 3px;
  border: none;
  padding: 8px 12px;
  max-height: 30px;
  line-height: 1;
}

.blockChainContainer .blockchainStepper {
  /* regular step */
}

.blockChainContainer .blockchainStepper .step {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.blockChainContainer .blockchainStepper .step .bChainLabel {
  color: #fff;
  font-size: 20px;
  font-family: 'CircularStd';
  font-weight: 900;
  margin: 0;
}

.blockChainContainer .blockchainStepper .step .bChainLabel.active {
  opacity: 0.5;
}

.blockChainContainer .blockchainStepper .step .sublabel {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.blockChainContainer .blockchainStepper .v-stepper {
  position: relative;
  /*   visibility: visible; */
}

.blockChainContainer .blockchainStepper .step .circle {
  background-color: #161037;
  border: 1px solid #474666;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  display: inline-block;
}

.blockChainContainer .blockchainStepper .step .line {
  top: 20px;
  left: 50%;
  height: 100%;
  position: absolute;
  border-left: 1px solid #fff;
  opacity: 0.5;
  transform: translateX(-50%);
}

.blockChainContainer .blockchainStepper .step.completed .circle {
  visibility: visible;
  background-color: #fff;
  border-color: #fff;
}

.blockChainContainer .blockchainStepper .step.completed .line {
  border-left: 2px solid #fff;
}

.blockChainContainer .blockchainStepper .step.active .circle {
  visibility: visible;
  border-color: #fff;
  opacity: 1;
}

.blockChainContainer .blockchainStepper .step.empty .circle {
  visibility: hidden;
}

.blockChainContainer .blockchainStepper .step.empty .line {
  /*     visibility: hidden; */
  /*   height: 150%; */
  top: 0;
  height: 150%;
}

.blockChainContainer .blockchainStepper .step:last-child .line {
  border-left: 3px solid white;
  z-index: -1;
  /* behind the circle to completely hide */
}

.blockChainContainer .blockchainStepper .content {
  margin-left: 15px;
  display: inline-block;
}

.accordianWraper .toggleBtn {
  padding: 12px 25px;
  border-radius: 3px;
  border-left: 5px solid yellow;
  color: #fff;
  background-color: #5A546F;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
}

.accordianWraper .toggleBtn .bright {
  font-size: 14px;
  font-weight: bold;
}

.accordianWraper .toggleBtn .shade {
  font-size: 12px;
  font-weight: 400;
}

.accordianWraper .toggleBtn .toggleIcon {
  font-size: 12px;
  font-weight: bold;
}

.accordianWraper .toggleBtn .toggleIcon i {
  margin-left: 5px;
}

.accordianWraper .card-body {
  padding-top: 0;
}

.accordianWraper .collapse, .accordianWraper .collapsing, .accordianWraper .collapse.show {
  width: 600px;
}

.accordianWraper .collapse .card, .accordianWraper .collapsing .card, .accordianWraper .collapse.show .card {
  background-color: #161037;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.accordianWraper .contentDown {
  margin-top: 20px;
}

.accordianWraper .contentDown .toggleDownTitle {
  font-weight: bold;
  margin-bottom: 0;
  padding-left: 20px;
  position: relative;
}

.accordianWraper .contentDown .toggleDownTitle::after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.accordianWraper .contentDown .toggleDownTitle.transaction::after {
  background-image: url("../../../public/images/icons8-connection-status-on-96@2x.png");
}

.accordianWraper .contentDown .toggleDownTitle.blocknum::after {
  background-image: url("../../../public/images/icons8-blockchain-technology-96@2x.png");
}

.accordianWraper .contentDown .toggleDownTitle.timestamp::after {
  background-image: url("../../../public/images/time-sharp.svg");
}

.accordianWraper .contentDown .toggleDownStatus {
  font-weight: 400;
  opacity: 0.5;
  margin-right: 30px;
}
