
.blockChainContainer{

.bookingStatusBar{

    .statusbox{

        margin-top: 40px;
        margin-bottom: 30px;

        .statusTitle{
           font-size: 16px;
           font-weight: 700;
           font-family: 'CircularStd';
           color: #fff;
           margin-bottom: 0;
        }
        .statusSub{
            font-size: 14px;
            font-weight: 400;
            color: #fff;
             font-family: 'Roboto',sans-serif;
             opacity: 0.8;
        }
        .homeLoanbtn {
            font-size: 12px;
            color: #161037;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            background-color: #fff;
            border-radius: 3px;
            border: none;
            padding: 8px 12px;
            max-height: 30px;
            line-height: 1;
        }
    }


}
.blockchainStepper{
  .step {

      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
     
      .bChainLabel{
          color: #fff;
          font-size: 20px;
            font-family: 'CircularStd';
            font-weight: 900;
            margin: 0;
      }
      .bChainLabel.active{
        opacity: 0.5;
      }
      .sublabel{
          color: #fff;
          font-size: 12px;
          font-weight: 400;
      }

  }

  .v-stepper {
      position: relative;
      /*   visibility: visible; */
  }


  /* regular step */
  .step .circle {
      background-color: #161037;
      border: 1px solid #474666;
      border-radius: 100%;
      width: 15px;
      height: 15px;
      display: inline-block;
  }

  .step .line {
      top: 20px;
      left: 50%;
      height: 100%;
      position: absolute;
      border-left: 1px solid #fff;
      opacity: 0.5;
      transform: translateX(-50%);
  }

  .step.completed .circle {
      visibility: visible;
      background-color: #fff;
      border-color:#fff;
  }

  .step.completed .line {
      border-left: 2px solid #fff;
  }

  .step.active .circle {
      visibility: visible;
      border-color: #fff;
      opacity: 1;
  }

  .step.empty .circle {
      visibility: hidden;
  }

  .step.empty .line {
      /*     visibility: hidden; */
      /*   height: 150%; */
      top: 0;
      height: 150%;
  }


  .step:last-child .line {
      border-left: 3px solid white;
      z-index: -1;
      /* behind the circle to completely hide */
  }

  .content {
      margin-left: 15px;
      display: inline-block;
  }

}

}




// accordian

.accordianWraper{
  
    .toggleBtn{
          padding: 12px 25px;
          border-radius: 3px;
          border-left: 5px solid yellow;
          color: #fff;
          background-color: #5A546F;
          width: 600px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;
             font-family: 'Roboto',
             sans-serif;

          .bright{
              font-size: 14px;
              font-weight: bold;
          }
          .shade{
              font-size: 12px;
              font-weight: 400;
          }
          .toggleIcon{
              font-size: 12px;
              font-weight: bold;
              i{
                  margin-left: 5px;
              }

          }
    }
    .card-body{
        padding-top: 0;
    }
  .collapse,.collapsing, .collapse.show{
      width: 600px;

      .card{

        background-color: #161037;
        border-radius: 3px;
        color: #fff;
        font-size: 14px;
         font-family: 'Roboto',
         sans-serif;
      }
  }
  .contentDown{

    margin-top: 20px;

    .toggleDownTitle{
        font-weight: bold;
        margin-bottom: 0;
        padding-left: 20px;
        position: relative;
        &::after{
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            display: inline-block;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100%;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
        .toggleDownTitle.transaction::after{
            background-image: url('../../../public/images/icons8-connection-status-on-96@2x.png');
        }
        .toggleDownTitle.blocknum::after{
              background-image: url('../../../public/images/icons8-blockchain-technology-96@2x.png');
        }
        .toggleDownTitle.timestamp::after {
             background-image: url('../../../public/images/time-sharp.svg');
         }

    .toggleDownStatus{

        font-weight: 400;
        opacity: 0.5;
        margin-right: 30px;

    }
  }

  
}