section{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 34px;
    background: #323846;
    width: 200px;
    color: white;
    text-align: center;
    padding: 3px;
    .fas{
        background: white;
        padding: 4px;
        color: #323846;
        border-radius: 50%;
        font-size: 10px;
    }
    span{
        font-size: 14px;
        position: relative;
        top: 1px;
        left: 5px;
    }
}