.homepage .navbar {
  padding: 0px 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.homepage .navbar .logoImageWraper {
  height: 54px;
  width: 160px;
}

.homepage .navbar .logoImageWraper img {
  width: 100%;
}

.homepage .navbar .loginDetailsContainer {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.homepage .navbar .loginDetailsContainer .avatar {
  margin-right: 5px;
  width: 24px;
  height: 24px;
}

.homepage .navbar .loginDetailsContainer .avatar img {
  width: 100%;
}

.homepage .navbar .loginDetailsContainer span {
  font-size: 12px;
  color: #5A546F;
  font-weight: 400;
  margin-right: 2px;
}

.homepage .navbar .loginDetailsContainer p {
  font-size: 12px;
  font-weight: 900;
  color: #5A546F;
  margin: 0;
}

.homepage .navbar .loginDetailsContainer::after {
  content: "\f0d7";
  display: inline-block;
  line-height: 1;
  font-family: 'FontAwesome';
  margin-left: 5px;
}

.homeDataContainer {
  background-image: url("/public/images/qrbg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 60px);
}

.homeDataContainer .tabContainer {
  background: rgba(22, 16, 55, 0.9);
  background: rgba(22, 16, 55, 0.9);
  min-height: calc(100vh - 60px);
  padding: 40px;
  color: #fff;
}

.homeDataContainer .tabContainer .tab-content > .active {
  display: flex;
}

.homeDataContainer .tabContainer .nav-tabs {
  border-bottom: none;
  margin-bottom: 35px;
}

.homeDataContainer .tabContainer .nav-tabs .nav-link {
  position: relative;
  font-size: 28px;
  padding: 0;
  color: #495057;
  font-weight: 500;
  margin-right: 45px;
  cursor: pointer;
  font-family: 'CircularStd';
  border: none;
}

.homeDataContainer .tabContainer .nav-tabs .nav-link:active {
  border-color: transparent;
  background: transparent;
}

.homeDataContainer .tabContainer .nav-tabs .nav-link:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: transparent;
  top: auto;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
}

.homeDataContainer .tabContainer .nav-tabs .nav-link.active {
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  border: none;
}

.homeDataContainer .tabContainer .nav-tabs .nav-link.active:after {
  background-color: #fff;
}

.homeDataContainer .cardLayout.bookedcarWraper {
  height: 250px !important;
  width: 376px;
}

.homeDataContainer .cardLayout.bookedcarWraper .card.active {
  border: none;
}

.homeDataContainer .cardLayout.bookedcarWraper .cardContainer,
.homeDataContainer .cardLayout.bookedcarWraper .cardLayout {
  width: 100% !important;
  height: 100% !important;
}

.homeDataContainer .cardLayout {
  width: 276px;
  height: 200px;
  margin-right: 30px;
  margin-bottom: 30px;
  display: inline-block;
}

.homeDataContainer .cardLayout .cardContainer {
  width: 276px;
  height: 200px;
}

.homeDataContainer .cardLayout .cardContainer .card {
  height: 100%;
  border-radius: 3px;
}

.homeDataContainer .cardLayout .cardContainer .card .cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}

.homeDataContainer .cardLayout .cardContainer .card .cardContent a {
  text-decoration: none;
}

.homeDataContainer .cardLayout .cardContainer .card .cardContent .carLoanSelection {
  display: flex;
  justify-content: space-between;
}

.homeDataContainer .cardLayout .cardContainer .card .cardContent .carLoanSelection .homeLoanbtn {
  font-size: 12px;
  color: #161037;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #fff;
  border-radius: 3px;
  border: none;
  padding: 8px 12px;
  max-height: 30px;
  line-height: 1;
}

.homeDataContainer .cardLayout .cardContainer .card .cardContent .carLoanSelection .homeLoanbtn:focus,
.homeDataContainer .cardLayout .cardContainer .card .cardContent .carLoanSelection .homeLoanbtn :active {
  outline: none;
  box-shadow: none;
}

.homeDataContainer .cardLayout .cardContainer .card .cardContent .content-wraper .cardContentTitle {
  font-size: 26px;
  color: #161037;
  font-family: 'CircularStd';
  font-weight: 900;
  margin: 0;
}

.homeDataContainer .cardLayout .cardContainer .card .cardContent .content-wraper .cardContentTitle.bookedcar {
  margin-bottom: 0px !important;
  font-size: 20px;
  color: #fff !important;
}

.homeDataContainer .cardLayout .cardContainer .card .cardContent .content-wraper .bookingId {
  font-size: 12px;
  font-family: 'CircularStd';
}

.homeDataContainer .cardLayout .cardContainer .card .cardContent .content-wraper .blockchainNavWraper {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  float: right;
}

.homeDataContainer .cardLayout .cardContainer .card .cardContent .content-wraper .blockchainNavWraper i {
  margin-left: 5px;
}

.homeDataContainer .cardLayout .cardContainer .card .cardContent .content-wraper .blockchainNavWraper a {
  color: #fff;
}

.homeDataContainer .cardLayout .cardContainer .card .ContinueBtnWraper {
  padding: 15px 20px;
  background-color: #161037;
  color: #FADD02;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.homeDataContainer .cardLayout .cardContainer .card .ContinueBtnWraper a {
  text-decoration: none;
  color: #FADD02;
  float: right;
}

.homeDataContainer .cardLayout .cardContainer .card .ContinueBtnWraper i {
  margin-left: 5px;
}

.homeDataContainer .cardLayout .cardContainer .card .arrow {
  display: none;
}

.homeDataContainer .cardLayout .cardContainer .card .siteNav {
  position: relative;
  padding-left: 20px;
  float: right;
  display: none;
}

.homeDataContainer .cardLayout .cardContainer .card .siteNav::before {
  content: "";
  background-image: url("/public/images/globe.svg");
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  transform: translateY(-50%);
}

.homeDataContainer .cardLayout .cardContainer .card .siteNav a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.homeDataContainer .cardLayout .cardContainer .card .image-wraper .icon {
  color: #333;
  font-size: 40px;
  line-height: 1;
}

.homeDataContainer .cardLayout .card.active {
  background: rgba(90, 84, 111, 0.9);
}

.homeDataContainer .cardLayout .card.active .cardContentTitle {
  color: #fff !important;
  margin-bottom: 20px;
}

.homeDataContainer .cardLayout .card.active .arrow {
  display: block;
  float: right;
}

.homeDataContainer .cardLayout .card.active .siteNav.active {
  display: block;
}

.homeDataContainer .cardLayout .card.active .image-wraper .icon {
  color: #fff;
  font-size: 40px;
  line-height: 1;
}

a.nav-link:hover {
  outline: none;
  border: none;
}
