<div id="vehicle-registrationId">
    <app-header></app-header>
    <div class="container mt-30 pt-60">
        <mat-tab-group>
            <mat-tab label="Requests">
                <div class="mb_50">
                    <app-request></app-request>
                </div>
            </mat-tab>
            <mat-tab label="History">
                <div class="mb_50">
                    <app-history></app-history>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>