.navbar {
  padding: 0px 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.navbar .logoImageWraper {
  width: 160px;
}

.navbar .logoImageWraper img {
  width: 100%;
}

.navbar .loginDetailsContainer {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.navbar .loginDetailsContainer .avatar {
  margin-right: 5px;
  width: 24px;
  height: 24px;
}

.navbar .loginDetailsContainer .avatar img {
  width: 100%;
}

.navbar .loginDetailsContainer span {
  font-size: 12px;
  color: #5A546F;
  font-weight: 400;
  margin-right: 2px;
}

.navbar .loginDetailsContainer p {
  font-size: 12px;
  font-weight: 900;
  color: #5A546F;
  margin: 0;
}

.navbar .loginDetailsContainer .toggleBtn {
  position: relative;
  display: flex;
  cursor: pointer;
}

.navbar .loginDetailsContainer .toggleBtn::after {
  content: "\f0d7";
  display: inline-block;
  line-height: 1;
  font-family: 'FontAwesome';
  margin-left: 5px;
}

.navbar .loginDetailsContainer .collapse,
.navbar .loginDetailsContainer .collapsing,
.navbar .loginDetailsContainer .collapse.show {
  position: absolute;
  right: 80px;
  top: 60px;
}

.navbar .loginDetailsContainer .card {
  width: 130px;
  text-align: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}

.cp {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}
