

.navbar {
    padding: 0px 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    .logoImageWraper {

        width: 160px;

        img {
            width: 100%;
        }
    }

    .loginDetailsContainer {

        display: flex;
        align-items: center;
        font-family: 'Roboto',
            sans-serif;

        .avatar {
            margin-right: 5px;
            width: 24px;
            height: 24px;

            img {
                width: 100%;
            }
        }

        span {
            font-size: 12px;
            color: #5A546F;
            font-weight: 400;
            margin-right: 2px;


        }

        p {
            font-size: 12px;
            font-weight: 900;
            color: #5A546F;
            margin: 0;

        }
        
        .toggleBtn{
            position: relative;
            display: flex;
            cursor: pointer;

             &::after {

                 content: "\f0d7";
                 display: inline-block;
                 line-height: 1;
                 font-family: 'FontAwesome';
                 margin-left: 5px;

             }
        }
         .collapse,
         .collapsing,
         .collapse.show {
             position: absolute;
             right: 80px;
             top: 60px;

         }
         .card {
             width: 130px;
             text-align: center;
             border-top-left-radius: 0;
             border-top-right-radius: 0;
             border-top: 0;
         }

       


    }
}
.cp {
    cursor: pointer;
}
.not-allowed {
    cursor: not-allowed;
}

