@font-face {
    font-family: 'car';
    src: url('../font/car.eot?50950028');
    src: url('../font/car.eot?50950028#iefix') format('embedded-opentype'),
        url('../font/car.woff2?50950028') format('woff2'),
        url('../font/car.woff?50950028') format('woff'),
        url('../font/car.ttf?50950028') format('truetype'),
        url('../font/car.svg?50950028#car') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'car';
    src: url('../font/car.svg?50950028#car') format('svg');
  }
}
*/


[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "car";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-car:before {
    content: '\e800';
}

/* '' */
.icon-medical:before {
    content: '\e801';
}

/* '' */
.icon-home:before {
    content: '\e802';
}

/* '' */