::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: none;
}

.carSection {
  display: flex;
  min-height: calc(100vh - 60px) !important;
}

.carSection .steperContainer {
  padding-top: 30px;
  padding-left: 85px;
  background-color: #161037;
  width: 360px;
  padding-right: 20px;
  overflow: hidden;
}

.carSection .steperContainer .steperDataContainer .stepetBackbtn {
  position: relative;
  color: #fff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.carSection .steperContainer .steperDataContainer .stepetBackbtn::after {
  content: "\f104";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 8px;
  transform: translateY(-50%);
  left: 0;
  font-family: 'FontAwesome';
  line-height: 1.5;
}

.carSection .steperContainer .steperDataContainer .steperDatatilte {
  font-size: 20px;
  font-family: 'CircularStd';
  color: #fff;
  font-weight: 900;
  margin-top: 20px;
}

.carSection .steperContainer .steperDataContainer .steperWraper {
  margin-top: 30px;
  /* regular step */
}

.carSection .steperContainer .steperDataContainer .steperWraper .step {
  padding: 10px;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: cream;
}

.carSection .steperContainer .steperDataContainer .steperWraper .v-stepper {
  position: relative;
  /*   visibility: visible; */
}

.carSection .steperContainer .steperDataContainer .steperWraper .step .circle {
  border: 1px solid gray;
  border-radius: 100%;
  color: #fff;
  width: 20px;
  text-align: center;
  height: 20px;
  display: inline-block;
  font-size: 12px;
}

.carSection .steperContainer .steperDataContainer .steperWraper .step .line {
  top: 25px;
  left: 50%;
  height: 100%;
  position: absolute;
  border-left: 1px solid #fff;
  transform: translateX(-50%);
}

.carSection .steperContainer .steperDataContainer .steperWraper .step.completed .circle {
  visibility: visible;
  background-color: #161037;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 12px;
  z-index: 3;
  position: relative;
}

.carSection .steperContainer .steperDataContainer .steperWraper .step.completed .details {
  position: relative;
}

.carSection .steperContainer .steperDataContainer .steperWraper .step.completed .details:after {
  content: '';
  background-image: url("../../../public/images/check.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 15px;
  height: 15px;
  position: absolute;
  top: auto;
  bottom: 6px;
  right: 0;
  transform: translateY(-50%);
}

.carSection .steperContainer .steperDataContainer .steperWraper .subText {
  display: none;
}

.carSection .steperContainer .steperDataContainer .steperWraper .subText.active {
  display: block;
  margin-top: 20px;
  position: relative;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.carSection .steperContainer .steperDataContainer .steperWraper .subText.active span {
  opacity: 0.6;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.carSection .steperContainer .steperDataContainer .steperWraper .subText.active p {
  opacity: 0.3;
}

.carSection .steperContainer .steperDataContainer .steperWraper .subText.active::before {
  content: '';
  position: absolute;
  left: -22px;
  top: 8px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: yellow;
}

.carSection .steperContainer .steperDataContainer .steperWraper .step.active .circle {
  visibility: visible;
  background: #fff;
  color: #000;
  font-size: 12px;
  font-weight: 900;
  font-family: 'CircularStd';
  position: relative;
  z-index: 3;
}

.carSection .steperContainer .steperDataContainer .steperWraper .step.active .stepLabel {
  font-weight: 700 !important;
}

.carSection .steperContainer .steperDataContainer .steperWraper .step.empty .circle {
  visibility: hidden;
}

.carSection .steperContainer .steperDataContainer .steperWraper .step.empty .line {
  /*     visibility: hidden; */
  /*   height: 150%; */
  top: 0;
  height: 150%;
}

.carSection .steperContainer .steperDataContainer .steperWraper .step:last-child .line.active {
  z-index: 1 !important;
  border-left: 1px solid #fff;
  /* behind the circle to completely hide */
}

.carSection .steperContainer .steperDataContainer .steperWraper .step:last-child .line {
  border-left: 1px solid #fff;
  z-index: -1;
  /* behind the circle to completely hide */
}

.carSection .steperContainer .steperDataContainer .steperWraper .content {
  margin-left: 10px;
  display: inline-block;
  width: 100%;
  min-height: 80px;
}

.carSection .steperContainer .steperDataContainer .steperWraper .content .stepDetailsWraper {
  margin-top: -12px;
  color: #fff;
}

.carSection .steperContainer .steperDataContainer .steperWraper .content .stepDetailsWraper .stepPosition {
  font-size: 12px;
  opacity: 0.5;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.carSection .steperContainer .steperDataContainer .steperWraper .content .stepDetailsWraper .stepLabel {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.dealerDetailsContainer {
  background-image: url("/public/images/qrbg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

.dealerDetailsContainer .dealerDetailsWraper {
  background: rgba(22, 16, 55, 0.9);
  padding: 30px;
  padding-right: 85px;
  height: 100%;
}

.dealerDetailsContainer .dealerDetailsWraper .dealerTilteWraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.dealerDetailsContainer .dealerDetailsWraper .dealerTilteWraper .titleWraper {
  display: flex;
}

.dealerDetailsContainer .dealerDetailsWraper .dealerTilteWraper .titleWraper h2 {
  color: #fff;
  font-family: 'CircularStd';
  font-weight: 900;
  font-size: 28px;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0;
}

.dealerDetailsContainer .dealerDetailsWraper .dealerTilteWraper .status {
  position: relative;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 900;
  padding: 8px 20px;
  padding-right: 45px;
}

.dealerDetailsContainer .dealerDetailsWraper .dealerTilteWraper .status::after {
  content: '';
  width: 14px;
  height: 14px;
  top: 50%;
  right: 15px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  transform: translateY(-50%);
}

.dealerDetailsContainer .dealerDetailsWraper .dealerTilteWraper .processing {
  color: #fff;
  background-color: #1E5971;
}

.dealerDetailsContainer .dealerDetailsWraper .dealerTilteWraper .processing::after {
  background-image: url("../../../public/images/loading.svg");
}

.dealerDetailsContainer .dealerDetailsWraper .dealerTilteWraper .approved {
  color: #000;
  background-color: #FADD02;
}

.dealerDetailsContainer .dealerDetailsWraper .dealerTilteWraper .approved::after {
  background-image: url("../../../public/images/aprovedTick.svg");
}

.dealerDetailsContainer .dealerDetailsWraper .dealerTilteWraper .export .exportbtn {
  padding: 15px 70px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: #FADD02;
  font-weight: 700;
  position: relative;
}

.dealerDetailsContainer .dealerDetailsWraper .dealerTilteWraper .export .exportbtn:hover {
  background-color: transparent;
}

.dealerDetailsContainer .dealerDetailsWraper .dealerTilteWraper .export .exportbtn::after {
  content: '';
  width: 15px;
  height: 15px;
  top: 50%;
  left: 40px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  transform: translateY(-60%);
  background-image: url("../../../public/images/save.svg");
}

.dealerDetailsContainer .dealerDetailsWraper .dealerTilteWraper .searchWraper {
  position: relative;
  width: 300px;
}

.dealerDetailsContainer .dealerDetailsWraper .dealerTilteWraper .searchWraper .search {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  padding-left: 35px;
  position: relative;
  color: #fff;
  font-size: 14px;
}

.dealerDetailsContainer .dealerDetailsWraper .dealerTilteWraper .searchWraper .search:focus {
  outline: none;
  box-shadow: none;
}

.dealerDetailsContainer .dealerDetailsWraper .dealerTilteWraper .searchWraper::before {
  content: '';
  background-image: url("/public/images/search-sharp.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  position: absolute;
  left: 10px;
  top: 11px;
  width: 15px;
  height: 15px;
  display: inline-block;
}

.dealerDetailsContainer .verification {
  color: #fff;
  margin-top: 50px;
}

.dealerDetailsContainer .verification .contentWraper {
  margin-bottom: 30px;
}

.dealerDetailsContainer .verification .contentWraper .mainTitle {
  font-size: 20px;
  font-family: 'CircularStd';
  font-weight: 900;
  margin-bottom: 0;
}

.dealerDetailsContainer .verification .contentWraper .numPlate {
  width: 378px;
  background-color: #fff;
  margin-top: 20px;
  color: #000;
  padding: 5px;
  border-radius: 3px;
}

.dealerDetailsContainer .verification .contentWraper .numPlate img {
  width: 100%;
}

.dealerDetailsContainer .verification .contentWraper .subText {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.dealerDetailsContainer .verification .contentWraper .subText.yellow {
  color: #FADD02 !important;
}

.dealerDetailsContainer .verification .detailsPortion {
  width: 786px;
  margin-bottom: 40px;
}

.dealerDetailsContainer .verification .detailsPortion .detailstitleWraper {
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
}

.dealerDetailsContainer .verification .detailsPortion .detailstitleWraper .detailsMaintitle {
  font-size: 20px;
  font-family: 'CircularStd';
  font-weight: 900;
  margin: 0;
  padding-left: 30px;
  position: relative;
  display: inline-block;
}

.dealerDetailsContainer .verification .detailsPortion .detailstitleWraper .detailsMaintitle::after {
  content: '';
  width: 17px;
  height: 17px;
  top: 50%;
  left: 0px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  transform: translateY(-50%);
}

.dealerDetailsContainer .verification .detailsPortion .detailstitleWraper .date {
  font-size: 13px;
  color: #fff;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  margin-left: 15px;
}

.dealerDetailsContainer .verification .detailsPortion .detailstitleWraper .detailsMaintitle.registation::after {
  background-image: url("../../../public/images/list-sharp.svg");
}

.dealerDetailsContainer .verification .detailsPortion .detailsContent {
  display: flex;
  flex-wrap: wrap;
}

.dealerDetailsContainer .verification .detailsPortion .detailsContent .contents {
  width: 50%;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
}

.dealerDetailsContainer .verification .detailsPortion .detailsContent .contents .contentMain {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.dealerDetailsContainer .verification .detailsPortion .detailsContent .contents .contentSub {
  font-size: 14px;
  font-weight: 400;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 1366px !important;
    margin: 1.75rem auto;
  }
}

.Navimages {
  width: 1200px;
  height: 768px;
  overflow: auto;
  margin: auto;
  position: relative;
}

.Navimages img {
  width: 100%;
}

.Navimages .imageNavWraper {
  display: inline-block;
  position: absolute;
  top: 395px;
  left: 0px;
  width: 300px;
  background: #fff;
  height: 70px;
  border: 1px solid #eee;
  display: block;
  background: linear-gradient(to right, #235BAB 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .2s ease-out;
}

.Navimages .imageNavWraper:hover {
  border: 1px solid #235BAB;
}

.Navimages .imageNavWraper span {
  font-size: 14px;
  font-family: 'CircularStd';
  font-weight: 700;
  color: #000;
  position: absolute;
  top: 25px;
  left: 94px;
  transition: all .3s ease-out;
  display: block;
}

.Navimages .imageNavWraper.active {
  background-position: left bottom;
}

.Navimages .imageNavWraper.active span {
  color: #fff;
}

.Navimages.carDealers .carDealernav {
  position: absolute;
  width: 243px;
  height: 175px;
  top: 180px;
  left: 75px;
}

.Navimages.cars .carsNav {
  position: absolute;
  width: 243px;
  height: 175px;
  top: 180px;
  left: 75px;
}

.Navimages.Quote .quoteNavWraper {
  position: absolute;
  width: 512px;
  height: 40px;
  right: 75px;
  bottom: 142px;
  border: 1px solid #eee;
  border-radius: 3px;
  display: block;
  background: linear-gradient(to right, #235BAB 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .2s ease-out;
}

.Navimages.Quote .quoteNavWraper:hover {
  border: 1px solid #235BAB;
}

.Navimages.Quote .quoteNavWraper span {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  font-weight: 700;
  color: #000;
  font-family: 'Roboto', sans-serif;
  transition: all .3s ease-out;
  display: block;
}

.Navimages.Quote .quoteNavWraper.active {
  background-position: left bottom;
}

.Navimages.Quote .quoteNavWraper.active span {
  color: #fff;
}

.Navimages.mobaprovalSection .mobaprovalContainer {
  position: absolute;
  width: 100%;
  height: 400px;
  background: #fff;
  top: 116px;
  left: 0;
}

.Navimages.mobaprovalSection .mobaprovalContainer .mobileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.Navimages.mobaprovalSection .mobaprovalContainer .mobileContainer .mobileWraper {
  position: relative;
  width: 90px;
  height: 210px;
  background-image: url("../../../public/images/mobile.svg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.Navimages.mobaprovalSection .mobaprovalContainer .mobileContainer .mobileWraper .mobile {
  width: 90px;
  height: 173px;
  overflow: hidden;
  position: relative;
  transition: 0.3s ease-in;
}

.Navimages.mobaprovalSection .mobaprovalContainer .mobileContainer .mobileWraper .mobile::after {
  content: '';
  position: absolute;
  width: 70px;
  height: 14px;
  bottom: 45px;
  border-radius: 3px;
  left: 50%;
  background-color: #235babf5;
  transform: translate(-50%, 60px);
  transition: 0.3s ease-in;
}

.Navimages.mobaprovalSection .mobaprovalContainer .mobileContainer .mobileWraper .mobile.active:after {
  transform: translate(-50%, -50%);
  transition: 0.3s ease-in;
}

.Navimages.mobaprovalSection .mobaprovalContainer .mobileContainer .mobileText {
  font-family: 'CircularStd';
  font-size: 20px;
  color: #000000;
  text-align: center;
  margin-top: 40px;
}

.Navimages.mobaprovalSection .mobaprovalContainer .mobileContainer .mobileText .d-none {
  display: none;
}

.Navimages.mobaprovalSection .mobaprovalContainer .mobileContainer .mobileText .shade {
  opacity: 0.5;
}

.Navimages.mobaprovalSection .mobaprovalContainer .mobileContainer .mobileText .bright {
  opacity: 1;
  font-weight: 900;
}

.Navimages.mobaprovalSection .mobaprovalContainer .mobileContainer .mobileWraper.verified {
  width: 150px !important;
  height: 150px !important;
  border: 3px solid #000 !important;
  border-radius: 50%;
  background-image: none !important;
  background: #00aef0;
  position: relative;
  transition: 0.2s ease-in;
  overflow: visible;
}

.Navimages.mobaprovalSection .mobaprovalContainer .mobileContainer .mobileWraper.verified::after {
  content: "\f00c";
  position: absolute;
  line-height: 1;
  font-size: 60px;
  font-family: FontAwesome;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Navimages.applyLoan .applyLoanNav {
  position: absolute;
  width: 225px;
  height: 41px;
  left: 93px;
  top: 210px;
}

.Navimages.LoanQRcode .QRCodeWraper {
  position: absolute;
  width: 238px;
  height: 238px;
  background: #ffffff;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
}

.Navimages.LoanQRcode .QRCodeWraper .QRcode {
  width: 100%;
  height: 100%;
}

.Navimages.LoanQRcode .QRCodeWraper .QRcode img {
  width: 100%;
}

.Navimages.Banking .personalBanking.insurance {
  top: 140px !important;
}

.Navimages.Banking .personalBanking {
  position: absolute;
  width: 1200px;
  height: 100%;
  left: 0px;
  top: 100px;
  border-radius: 3px;
  background-color: #fff;
}

.Navimages.Banking .personalBanking .detailsContainer {
  width: 695px;
  background-color: #fff;
  margin: auto;
}

.Navimages.Banking .personalBanking .detailsContainer .expendDetails {
  position: relative;
}

.Navimages.Banking .personalBanking .detailsContainer .expendDetails .expandTitle {
  font-size: 20px;
  font-weight: 900;
  color: #000;
  position: relative;
  padding-left: 20px;
  margin: 0;
  border-bottom: 1px solid #eee;
}

.Navimages.Banking .personalBanking .detailsContainer .expendDetails .expandTitle::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.Navimages.Banking .personalBanking .detailsContainer .expendDetails .expandTitle.car::after {
  background-image: url("../../../public/images/car-sharp.svg");
}

.Navimages.Banking .personalBanking .detailsContainer .expendDetails .expandTitle.bank::after {
  background-image: url("../../../public/images/list-sharp.svg");
}

.Navimages.Banking .personalBanking .detailsContainer .expendDetails .expandTitle.aboutYou::after {
  background-image: url("../../../public/images/round-person-24px.svg");
}

.Navimages.Banking .personalBanking .detailsContainer .expendDetails .expandTitle.coverBenefits::after {
  background-image: url("../../../public/images/shield-sharp.svg");
}

.Navimages.Banking .personalBanking .detailsContainer .detailsWraper {
  display: flex;
  padding-top: 20px;
  flex-wrap: wrap;
}

.Navimages.Banking .personalBanking .detailsContainer .detailsWraper .content {
  width: 50%;
  font-family: 'Roboto', sans-serif;
  color: #000;
  line-height: 1;
  margin-bottom: 20px;
}

.Navimages.Banking .personalBanking .detailsContainer .detailsWraper .content .title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
}

.Navimages.Banking .personalBanking .detailsContainer .detailsWraper .content .sub-title {
  font-size: 14px;
  font-weight: 400;
}

.Navimages.Banking .personalBanking .btnSection {
  background-color: #fff;
}

.Navimages.Banking .personalBanking .btnContainer {
  background-color: #E1321208;
}

.Navimages.Banking .personalBanking .btnContainer .btnWraper {
  width: 695px;
  margin: auto;
  text-align: right;
  padding: 15px 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.Navimages.Banking .personalBanking .btnContainer .btnWraper .link {
  font-size: 14px;
  text-decoration: none;
  color: #000;
  font-weight: 900;
  margin: 0px 15px;
}

.Navimages.Banking .personalBanking .btnContainer .btnWraper .submit {
  border: 1px solid #1610371A;
  border-radius: 3px;
  font-size: 12px;
  padding: 15px 45px;
  font-weight: 900;
}

.Navimages.Insurance_Landing .insurelandingNav {
  position: absolute;
  width: 180px;
  height: 40px;
  left: 165px;
  top: 386px;
  border-radius: 3px;
}

.Navimages.Insurance_quote .insureQuoteNav {
  position: absolute;
  width: 177px;
  height: 41px;
  right: 251px;
  bottom: -25px;
  border-radius: 3px;
}

.Navimages.Insurance_payment .insurePaymentNav {
  position: absolute;
  width: 108px;
  height: 41px;
  left: 273px;
  top: 423px;
  border-radius: 3px;
}

.Navimages.policeLanding .policeLandingNav {
  position: absolute;
  width: 238px;
  height: 238px;
  left: 433px;
  top: 400px;
  background-color: #fff;
}

.Navimages.policeConfirmation .policeConfirmationNav {
  position: absolute;
  width: 180px;
  height: 42px;
  right: 255px;
  bottom: 135px;
  border-radius: 3px;
}

.cardLayout {
  width: 276px;
  height: 200px;
  margin-right: 14px;
  margin-bottom: 10px;
  display: inline-block;
}

.cardLayout .cardContainer.bookedcarWraper {
  height: 250px !important;
  width: 376px;
}

.cardLayout .cardContainer.bookedcarWraper .card.active {
  border: none;
}

.cardLayout .cardContainer {
  width: 276px;
  height: 200px;
}

.cardLayout .cardContainer .card {
  height: 100%;
  border-radius: 3px;
}

.cardLayout .cardContainer .card .cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}

.cardLayout .cardContainer .card .cardContent a {
  text-decoration: none;
}

.cardLayout .cardContainer .card .cardContent .carLoanSelection {
  display: flex;
  justify-content: space-between;
}

.cardLayout .cardContainer .card .cardContent .carLoanSelection .homeLoanbtn {
  font-size: 12px;
  color: #161037;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #fff;
  border-radius: 3px;
  border: none;
  padding: 8px 12px;
  max-height: 30px;
  line-height: 1;
}

.cardLayout .cardContainer .card .cardContent .carLoanSelection .homeLoanbtn:focus,
.cardLayout .cardContainer .card .cardContent .carLoanSelection .homeLoanbtn :active {
  outline: none;
  box-shadow: none;
}

.cardLayout .cardContainer .card .cardContent .content-wraper .cardContentTitle {
  font-size: 26px;
  color: #161037;
  font-family: 'CircularStd';
  font-weight: 900;
  margin: 0;
}

.cardLayout .cardContainer .card .cardContent .content-wraper .cardContentTitle.bookedcar {
  margin-bottom: 0px !important;
  font-size: 20px;
  color: #fff !important;
}

.cardLayout .cardContainer .card .cardContent .content-wraper .bookingId {
  font-size: 12px;
  font-family: 'CircularStd';
}

.cardLayout .cardContainer .card .cardContent .content-wraper .blockchainNavWraper {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  float: right;
}

.cardLayout .cardContainer .card .cardContent .content-wraper .blockchainNavWraper i {
  margin-left: 5px;
}

.cardLayout .cardContainer .card .cardContent .content-wraper .blockchainNavWraper a {
  color: #fff;
}

.cardLayout .cardContainer .card .ContinueBtnWraper {
  padding: 15px 20px;
  background-color: #161037;
  color: #FADD02;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.cardLayout .cardContainer .card .ContinueBtnWraper a {
  text-decoration: none;
  color: #FADD02;
  float: right;
}

.cardLayout .cardContainer .card .ContinueBtnWraper i {
  margin-left: 5px;
}

.cardLayout .cardContainer .card .arrow {
  display: none;
}

.cardLayout .cardContainer .card .siteNav {
  position: relative;
  padding-left: 20px;
  float: right;
  display: none;
}

.cardLayout .cardContainer .card .siteNav::before {
  content: "";
  background-image: url("/public/images/globe.svg");
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  transform: translateY(-50%);
}

.cardLayout .cardContainer .card .siteNav a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.cardLayout .cardContainer .card.active {
  background: rgba(90, 84, 111, 0.9);
}

.cardLayout .cardContainer .card.active .cardContentTitle {
  color: #fff !important;
  margin-bottom: 20px;
}

.cardLayout .cardContainer .card.active .arrow {
  display: block;
  float: right;
}

.cardLayout .cardContainer .card.active .siteNav.active {
  display: block;
}

.applyCardContainer {
  display: flex;
}

.applyCardContainer .image-wraper {
  width: 50px;
  height: 50px;
}

.applyCardContainer .image-wraper img {
  width: 100%;
}

.applyCardContainer .cardContentTitle.applytitle {
  font-size: 18px !important;
}

.cardLayout.policeCard {
  width: 378px;
  height: 274px;
}

.cardLayout.policeCard .cardContainer {
  width: 100%;
  height: 100%;
}

.cardLayout.policeCard .cardContainer .image-wraper.policeLogoWraper {
  padding: 10px;
  width: 100px;
  height: 100px;
}

.cardLayout.policeCard .cardContainer .image-wraper.policeLogoWraper img {
  width: 100%;
}

.cardLayout.policeCard .cardContainer .content-wraper h3.cardContentTitle.applytitle.police-Title {
  font-size: 26px !important;
}

.cardLayout.policeCard .cardContainer .content-wraper .policeLink {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.cardLayout.policeCard .cardContainer .content-wraper .siteNav.policeNav {
  margin-top: 25px;
}

.cardLayout.policeCard .cardContainer .content-wraper .siteNav.policeNav::before {
  display: none;
}

.cardLayout.policeCard .cardContainer .content-wraper .siteNav.policeNav::after {
  content: "";
  background-image: url("/public/images/right-arrow-forward.svg");
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  line-height: 14px;
  width: 17px;
  height: 10px;
}

.docVerificationContainer .verificationCard {
  margin-bottom: 30px;
}

.docVerificationContainer .verificationCard .verificationTitleWraper .verificationTitle {
  font-size: 20px;
  color: #333333;
  font-family: 'CircularStd';
  font-weight: 900;
  position: relative;
  margin: 0;
}

.docVerificationContainer .verificationCard .verificationTitleWraper .verificationTitle::before {
  content: '';
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  display: inline-block;
  vertical-align: baseline;
  margin-right: 10px;
}

.docVerificationContainer .verificationCard .verificationTitleWraper .smartPass::before {
  background-image: url("../../../public/images/round-person-24px.svg");
}

.docVerificationContainer .verificationCard .verificationTitleWraper .licence::before {
  background-image: url("../../../public/images/round-person-1.svg");
}

.docVerificationContainer .verificationCard .verificationTitleWraper .car::before {
  background-image: url("../../../public/images/car-sharp.svg");
}

.docVerificationContainer .verificationCard .verificationTitleWraper .bank::before {
  background-image: url("../../../public/images/list-sharp.svg");
}

.docVerificationContainer .verificationCard .btnVerifiedWraper .statusLabel {
  font-size: 12px;
  font-weight: 900;
  font-family: 'Roboto',sans-serif;
  color: #fff;
  position: relative;
  padding: 8px 20px;
  background-color: #399E99;
  border-radius: 3px;
}

.docVerificationContainer .verificationCard .btnVerifiedWraper .statusLabel::after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  background-image: url("../../../public/images/verificationTick.svg");
}
