<div class="mt-10 mb-50" id="requestId">
  <div class="request-options">
    <mat-form-field class="search">
      <mat-icon matPrefix>search</mat-icon>
      <input type="tel" matInput placeholder="Search Applications">
    </mat-form-field>
    <div class="request-options-end">
      <div class="request-options-end-pad">
        <label>Sort By :</label>
        <mat-form-field>
          <mat-select [(ngModel)]="SortBy">
            <mat-option value="Recent">Recent</mat-option>
            <mat-option value="Ascending">Ascending</mat-option>
            <mat-option value="Decending">Decending</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="request-options-end-pad ">
        <img src="/assets/images/filter.svg" draggable="false" title="filter" alt="filter">
        <span>Filter</span>
      </div>
    </div>
  </div>
  <ng-container *ngIf="!requestSource">
    <span class="no-requests">No Pending request found.</span>
  </ng-container>
  <ng-container *ngIf="requestSource">
    <mat-accordion class="mat-table">
      <section matSort class="mat-header-acc">
        <div *ngFor="let element of displayedColumns" class="mat-header-acc-columns">
          <span class="mat-header-cell" mat-sort-header="Application Date">{{element}}</span>
        </div>
      </section>
      <mat-expansion-panel *ngFor="let element of requestSource;let i = index" name="expansion"
        [(attr.disabled)]="!changedIndex" [(attr.expanded)]="i === changedIndex && changedIndex">
        <mat-expansion-panel-header class="mat-row">
          <span class="mat-cell" [ngClass]="{'active-expansion-acc':changedIndex === i}">
            {{element.policeDetails.registrationapplieddate ? element.policeDetails.registrationapplieddate:'-'}}</span>
          <span class="mat-cell"
            [ngClass]="{'active-expansion-acc':changedIndex === i}">{{element.policeDetails.vehicelregistrationrefno ? element.policeDetails.vehicelregistrationrefno :'-'}}</span>
          <span class="mat-cell"
            [ngClass]="{'active-expansion-acc':changedIndex === i}">{{element.policeDetails.bookingno?element.policeDetails.bookingno:'-' }}</span>
          <span class="mat-cell " [ngClass]="{'active-expansion-acc':changedIndex === i}">
            {{element.loandetails.applicantfname ?element.loandetails.applicantfname:'-'}}</span>
          <span class="mat-cell" [ngClass]="{'active-expansion-acc':changedIndex === i}">
            {{element.loandetails.applicantlname?element.loandetails.applicantlname:'-'}}</span>
          <span class="mat-cell"
            [ngClass]="{'active-expansion-acc':changedIndex === i}">{{element.bookingdetails.carmake?element.bookingdetails.carmake:'-'}}</span>

          <span class="mat-cell" [ngClass]="{'active-expansion-acc':changedIndex === i}">
            {{element.bookingdetails.carmodel?element.bookingdetails.carmodel:'-'}}</span>
          <span class="mat-cell mat-enable-events" (click)="changedIndex !== i ? getSourceIndex(i):changeIndexToNull()"
            [ngClass]="{'active-expansion-acc':changedIndex === i}">
            <a class="table-view-more">{{changedIndex !== i ? 'View More':'View Less'}}</a>
          </span>
        </mat-expansion-panel-header>
        <div ngClass="showLoaderClass" *ngIf="element.showLoader|| element.completedLoader">
          <div class="loader-outer">
            <mat-spinner *ngIf="!element.completedLoader"></mat-spinner>
            <div class="completeLoader" *ngIf="element.completedLoader">
              <i class="material-icons">done</i>
            </div>
            <p>Approving application...</p>
          </div>
        </div>
        <div class="expansion-layout">
          <div class="col-sm-3 insurance-layout">
            <div class="header">
              <p>Insurance Details</p>
            </div>
            <div class="cont">
              <p class="cont-1">Vendor</p>
              <p class="cont-2">
                {{element.insurancedetails.insurancevendor ? element.insurancedetails.insurancevendor:'-' }}</p>
              <p class="cont-1">Premium Amount (AED)</p>
              <p class="cont-2">
                {{element.insurancedetails.premiumamount?element.insurancedetails.premiumamount:'-'}}</p>
            </div>
          </div>
          <div class="col-sm-7 support-credentail-layout">
            <div class="header">
              <p>Supporting Credentails Required</p>
              <span>4/4 Documents</span>
            </div>
            <div class="outer-box">
              <div class="boxes">
                <div class="content">
                  Smart Pass ID
                </div>
                <div class="ver-action" *ngIf="element.policeDetails.smartpasssubmission === 1">
                  <div class="text"><i class="material-icons">
                      check_circle_outline
                    </i>VERIFIED</div>
                </div>
                <div class="not-ver-action" *ngIf="element.policeDetails.smartpasssubmission === 0">
                  <div class="text"><i class="material-icons">
                      add_circle_outline
                    </i>REJECTED</div>
                </div>

              </div>
              <div class="boxes">
                <div class="content">
                  Car Quote
                </div>
                <div class="ver-action" *ngIf="element.policeDetails.carquotesubmission === 1">
                  <div class="text"><i class="material-icons">
                      check_circle_outline
                    </i>VERIFIED</div>
                </div>
                <div class="not-ver-action" *ngIf="element.policeDetails.carquotesubmission === 0">
                  <div class="text"><i class="material-icons">
                      add_circle_outline
                    </i>REJECTED</div>
                </div>
              </div>
              <div class="boxes">
                <div class="content">
                  Driving License
                </div>
                <div class="ver-action" *ngIf="element.policeDetails.drivinglicensesubmission === 1">
                  <div class="text"><i class="material-icons">
                      check_circle_outline
                    </i>VERIFIED</div>
                </div>
                <div class="not-ver-action" *ngIf="element.policeDetails.drivinglicensesubmission === 0">
                  <div class="text"><i class="material-icons">
                      add_circle_outline
                    </i>REJECTED</div>
                </div>
              </div>
              <div class="boxes-2">
                <div class="content">
                  Insurance Policy
                </div>
                <div class="ver-action" *ngIf="element.policeDetails.insurancereceiptsubmission === 1">
                  <div class="text"><i class="material-icons">
                      check_circle_outline
                    </i>VERIFIED</div>
                </div>
                <div class="not-ver-action" *ngIf="element.policeDetails.insurancereceiptsubmission === 0">
                  <div class=" text"><i class="material-icons">
                      cancel
                    </i>REJECTED</div>
                </div>
              </div>
            </div>
          </div>
          <div class="action-layout">
            <button class="approve" (click)="callApprove(i,element)">APPROVE</button>
            <button class="reject">REJECT</button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</div>