.carSection {
    display: flex;
    height: 100vh;

    .steperContainer {

        padding-top: 30px;
        padding-left: 85px;
        background-color: #161037;
        width: 360px;
        padding-right: 20px;

        .steperDataContainer {

            .stepetBackbtn {
                position: relative;
                color: #fff;
                font-size: 14px;
                font-family: 'Roboto', sans-serif;
                text-decoration: none;

                &::after {
                    content: "\f104";
                    width: 5px;
                    height: 5px;
                    position: absolute;
                    top: 8px;
                    transform: translateY(-50%);
                    left: 0;
                    font-family: 'FontAwesome';
                    line-height: 1.5;
                }
            }

            .steperDatatilte {
                font-size: 20px;
                font-family: 'CircularStd';
                color: #fff;
                font-weight: 900;
                margin-top: 20px;
            }


            .steperWraper {
                margin-top: 30px;

                .step {
                    padding: 10px;
                    padding-left: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    background-color: cream;
                }

                .v-stepper {
                    position: relative;
                    /*   visibility: visible; */
                }


                /* regular step */
                .step .circle {
                    border: 1px solid gray;
                    border-radius: 100%;
                    color: #fff;
                    width: 20px;
                    text-align: center;
                    height: 20px;
                    display: inline-block;
                    font-size: 12px;

                }

                .step .line {
                    top: 25px;
                    left: 50%;
                    height: 100%;
                    position: absolute;
                    border-left: 1px solid gray;
                    transform: translateX(-50%);
                }

                .step.completed .circle {
                    visibility: visible;
                    background-color: #161037;
                    border: 1px solid #fff;
                    color: #fff;
                    text-align: center;
                    font-size: 12px;
                    z-index: 3;
                    position: relative;
                }

                .step.completed {

                    .details {

                            position: relative;

                        &:after {
                            content: '';
                            background-image: url('../../../public/images/check.svg');
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: 100%;
                            width: 15px;
                            height: 15px;
                            position: absolute;
                            top: auto;
                            bottom: 6px;
                            right: 0;
                            transform: translateY(-50%);
                        }
                    }
                }

                .subText {
                    // visibility: hidden;
                    display: none;
                }

                .subText.active {
                    display: block;
                    margin-top: 20px;
                    position: relative;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 400;
                    // visibility: visible;
                    font-family: 'Roboto', sans-serif;

                    span {
                        opacity: 0.6;
                        font-size: 14px;
                        font-weight: 400;
                        font-family: 'Roboto',
                            sans-serif;
                    }

                    p {
                        opacity: 0.3;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        left: -22px;
                        top: 8px;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: yellow;
                    }
                }

                // .step.completed .line {
                //     border-left: 1px solid rgb(6, 150, 215);
                // }

                .step.active .circle {
                    visibility: visible;
                    background: #fff;
                    color: #000;
                    font-size: 12px;
                    font-weight: 900;
                    font-family: 'CircularStd';
                    position: relative;
                    z-index: 3;
                }

                .step.active{

                    .stepLabel{
                        font-weight: 700 !important;
                    }
                }

                .step.empty .circle {
                    visibility: hidden;
                }

                .step.empty .line {
                    /*     visibility: hidden; */
                    /*   height: 150%; */
                    top: 0;
                    height: 150%;
                }


                .step:last-child .line {
                    border-left: 1px solid white;
                    z-index: -1;
                    /* behind the circle to completely hide */
                }

                .content {
                    margin-left: 10px;
                    display: inline-block;
                    width: 100%;
                    min-height: 80px;

                    .stepDetailsWraper {
                        margin-top: -12px;
                        color: #fff;


                        .stepPosition {
                            font-size: 12px;
                            opacity: 0.5;
                            font-weight: 400;
                            font-family: 'Roboto', sans-serif;
                        }
                        .stepLabel {
                            margin: 0;
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}



.dealerDetailsContainer {

    background-image: url('/public/images/qrbg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

    .dealerDetailsWraper {
        background: rgba(22, 16, 55, 0.9);
        padding: 30px;
        padding-right: 85px;
        height: 100%;

        .dealerTilteWraper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .titleWraper {

                h2 {

                    color: #fff;
                    font-family: 'CircularStd';
                    font-weight: 900;
                    font-size: 28px;
                }
            }

            .searchWraper {
                position: relative;
                width: 300px;

                .search {
                    background: transparent;
                    border: none;
                    border-bottom: 1px solid #fff;
                    border-radius: 0;
                    padding-left: 35px;
                    position: relative;
                    color: #fff;
                    font-size: 14px;

                    &:focus {

                        outline: none;
                        box-shadow: none;
                    }
                }

                &::before {
                    content: '';
                    background-image: url('/public/images/search-sharp.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 100%;
                    position: absolute;
                    left: 10px;
                    top: 11px;
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                }
            }
        }
    }
}



// modal portion csss  //

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1366px !important;
        margin: 1.75rem auto;
    }
}

.Navimages {
    width: 1200px;
    height: 768px;
    overflow: auto;
    margin: auto;
    position: relative;

    img {
        width: 100%;
    }

    .imageNavWraper {
          display: inline-block;
          position: absolute;
          top: 395px;
          left: 0px;
          width: 300px;
          background: #fff;
          height: 70px;
          border: 1px solid #eee;
                display: block;
                background: linear-gradient(to right, #235BAB 50%, #ffffff 50%);
                background-size: 200% 100%;
                background-position: right bottom;
                transition: all .2s ease-out;

          &:hover{
            border: 1px solid #235BAB;
             

          }

        span{
               font-size: 14px;
               font-family: 'CircularStd';
               font-weight: 700;
               color: #000;
               position: absolute;
               top: 25px;
               left: 94px;
                transition: all .3s ease-out;
                 display: block;

        }
    }
    .imageNavWraper.active{
        background-position: left bottom;

        span{
            color: #fff;
        }
    }
}

.Navimages.carDealers{

    .carDealernav{

          position: absolute;
          width: 243px;
          height: 175px;
          top: 180px;
          left: 75px;
    }
}

.Navimages.cars {

    .carsNav{
        position: absolute;
        width: 243px;
        // background-color: yellow;
        height: 175px;
        top: 180px;
        left: 75px;
    }
}

.Navimages.Quote {

    .quoteNavWraper {
            position: absolute;
            width: 512px;
            height: 40px;
            right: 75px;
            bottom: 142px;
             border: 1px solid #eee;
             border-radius: 3px;
             display: block;
             background: linear-gradient(to right, #235BAB 50%, #ffffff 50%);
             background-size: 200% 100%;
             background-position: right bottom;
             transition: all .2s ease-out;

             &:hover {
                 border: 1px solid #235BAB;


             }
              span {
                    position: absolute;
                    top: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 12px;
                    font-weight: 700;
                    color: #000;
                    font-family: 'Roboto',
                    sans-serif;
                  transition: all .3s ease-out;
                  display: block;

              }
    }
       .quoteNavWraper.active {
           background-position: left bottom;

           span {
               color: #fff;
           }
       }
}


// mobile aproval and checkmark 

.Navimages.mobaprovalSection{

    .mobaprovalContainer{

           position: absolute;
           width: 100%;
           height: 400px;
           background: #fff;
           top: 116px;
           left: 0;

           .mobileContainer{
               display:flex;
               justify-content: center;
               align-items: center;
               height: 100%;
               flex-direction: column;

               .mobileWraper{
                position: relative;
                width: 90px;
                height: 210px;
                background-image: url('../../../public/images/mobile.svg');
                background-position: center;
                background-size: 100%;
                background-repeat: no-repeat;
                overflow: hidden;

                .mobile{
                width: 90px;
                height: 173px;
                overflow: hidden;
                position: relative;
                transition: 0.3s ease-in;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 70px;
                        height: 14px;
                        bottom: 45px;
                        border-radius: 3px;
                        left: 50%;
                        background-color: #235babf5;
                          transform: translate(-50%, 60px);
                        transition: 0.3s ease-in;
                        }
                    }

                    .mobile.active{

                        &:after{
                        transform: translate(-50%, -50%);
                        transition: 0.3s ease-in;
                        }
                    }
                 
                }
                   .mobileText{
                        font-family: 'CircularStd';
                        font-size: 20px;
                        color: #000000;
                        text-align: center;
                        margin-top: 40px;
                        .d-none{
                            display: none;
                        }
                        .shade{
                            opacity: 0.5;
                        }
                        .bright{
                            opacity: 1;
                            font-weight: 900;
                        }


                    }

                    .mobileWraper.verified {
                        width: 150px !important;
                        height: 150px !important;
                        border: 3px solid #000 !important;
                        border-radius: 50%;
                        background-image: none !important;
                        background: #00aef0;
                        position: relative;
                        transition: 0.2s ease-in;
                        overflow: visible;

                        &::after{

                            content: "\f00c";
                            position: absolute;
                            line-height: 1;
                            font-size:60px;
                            font-family: FontAwesome;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);

                        }
                    }

               }
           }

    }







.Navimages.applyLoan {

    .applyLoanNav {
            position: absolute;
            width: 225px;
            height: 41px;
            left: 93px;
            top: 210px;
    }
}
.cardLayout {
    width: 276px;
    height: 200px;
    margin-right: 14px;
    margin-bottom: 10px;
    display: inline-block;

    .cardContainer.bookedcarWraper {
        height: 250px !important;
        width: 376px;
        .card.active {
            border: none;
        }

    }

    .cardContainer {
        width: 276px;
        height: 200px;


        .card {
            height: 100%;
            border-radius: 3px;

            .cardContent {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                padding: 20px;

                a {
                    text-decoration: none;
                }


                .carLoanSelection {
                    display: flex;
                    justify-content: space-between;

                    .homeLoanbtn {
                        font-size: 12px;
                        color: #161037;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 400;
                        background-color: #fff;
                        border-radius: 3px;
                        border: none;
                        padding: 8px 12px;
                        max-height: 30px;
                        line-height: 1;

                        &:focus,
                        :active {
                            outline: none;
                            box-shadow: none;
                        }
                    }
                }


                .content-wraper {

                    .cardContentTitle {
                        font-size: 26px;
                        color: #161037;
                        font-family:'CircularStd';
                        font-weight: 900;
                        margin: 0;
                    }

                    .cardContentTitle.bookedcar {
                        margin-bottom: 0px !important;
                        font-size: 20px;
                        color: #fff !important;
                    }

                    .bookingId {
                        font-size: 12px;
                        font-family: 'CircularStd';
                    }

                    .blockchainNavWraper {

                        font-size: 14px;
                        font-weight: 600;
                        color: #fff;
                        float: right;

                        i {
                            margin-left: 5px;
                        }
                        a {
                            color: #fff;
                        }
                    }
                }
            }

            .ContinueBtnWraper {
                padding: 15px 20px;
                background-color: #161037;
                color: #FADD02;
                font-family: 'Roboto',
                    sans-serif;
                font-size: 14px;
                font-weight: 400;
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;

                a {
                    text-decoration: none;
                    color: #FADD02;
                    float: right;
                }

                i {
                    margin-left: 5px;
                }
            }

            .arrow {
                display: none;
            }

            .siteNav {

                position: relative;
                padding-left: 20px;
                float: right;
                display: none;


                &::before {
                    content: "";
                    background-image: url('/public/images/globe.svg');
                    background-position: center center;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 14px;
                    height: 14px;
                    transform: translateY(-50%);
                }

                a {
                    color: #fff;
                    text-decoration: none;
                    font-size: 12px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                }
            }

        }


        .card.active {
            background: rgba(90, 84, 111, 0.9);

            .cardContentTitle {
                color: #fff !important;
                margin-bottom: 20px;
            }

            .arrow {
                display: block;
                float: right;
            }

            .siteNav.active {
                display: block;
            }



            // .image-wraper {
            //     img {
            //         filter: invert(0) sepia(0) saturate(1) hue-rotate(0deg) brightness(100);
            //     }
            // }
        }
    }

}
// apllying Loan

.applyCardContainer{
     display: flex;
    .image-wraper {
        width: 50px;
        height: 50px;

        img{
            width: 100%;
        }
    }
    .cardContentTitle.applytitle {
        font-size: 18px !important;
    }

}
// loan QR code verification

.Navimages.LoanQRcode {
    .QRCodeWraper {
        position: absolute;
        width: 200px;
        height: 200px;
        background: #ffffff;;
        top: 185px;
        left: 500px;

        .QRcode{
            width: 100%;
            height: 100%;

            img{
                width: 100%;
            }
        }
    }
}


//Personal banking confirmation

.Navimages.Banking{

    .personalBanking{
          position: absolute;
          width: 180px;
          height: 40px;
          right: 254px;
          bottom: 136px;
          border-radius: 3px;
    }
}

// Insurance Landing Page


.Navimages.Insurance_Landing{

    .insurelandingNav{
                position: absolute;
                width: 180px;
                height: 40px;
                left: 165px;
                top: 386px;
                border-radius: 3px;
             
    }
    
}


// insurance get a quote and confirm page

.Navimages.Insurance_quote{

    .insureQuoteNav{

         position: absolute;
         width: 177px;
         height: 41px;
         right: 251px;
         bottom: -25px;
         border-radius: 3px;
    }
}

  // card payment Section

  .Navimages.Insurance_payment{

    .insurePaymentNav{

              position: absolute;
              width: 108px;
              height: 41px;
              left: 273px;
              top: 423px;
              border-radius: 3px;
    }
  }

//   Abu Dhabi police landing page

.Navimages.policeLanding{

   .policeLandingNav{

       position: absolute;
       width: 182px;
       height: 182px;
       left: 433px;
       top: 409px;
       background-color: #fff;
    }
}


// Police Confirmation Page

.Navimages.policeConfirmation{

    .policeConfirmationNav{

        position: absolute;
        width: 180px;
        height: 42px;
        right: 255px;
        bottom: 135px;
        border-radius: 3px;

    }
}

