.homepage {

    .navbar {
        padding: 0px 85px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;

        .logoImageWraper {
            height: 54px;
            width: 160px;

            img {
                width: 100%;
            }
        }

        .loginDetailsContainer {

            display: flex;
            align-items: center;
            font-family: 'Roboto',
                sans-serif;

            .avatar {
                margin-right: 5px;
                width: 24px;
                height: 24px;

                img {
                    width: 100%;
                }
            }

            span {
                font-size: 12px;
                color: #5A546F;
                font-weight: 400;
                margin-right: 2px;


            }

            p {
                font-size: 12px;
                font-weight: 900;
                color: #5A546F;
                margin: 0;

            }

            &::after {

                content: "\f0d7";
                display: inline-block;
                line-height: 1;
                font-family: 'FontAwesome';
                margin-left: 5px;

            }

        }
    }
}

.homeDataContainer {
    background-image: url('/public/images/qrbg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 60px);

    .tabContainer {
        background: rgba(22, 16, 55, 0.90);
        background: rgba(22, 16, 55, 0.9);
        height: calc(100vh - 60px);
        padding: 40px 85px;
        color: #fff;

.tab-content>.active {
  
    display: flex;
}
        .nav-tabs {
            border-bottom: none;
            margin-bottom: 35px;

            .nav-link{
                position: relative;
                font-size: 28px;
                padding: 0;
                color: #495057;
                font-weight: 500;
                margin-right: 45px;
                cursor: pointer;
                font-family: 'CircularStd';

                &:active
                 {

                    border-color: transparent;
                    background: transparent;
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: transparent;
                    top: auto;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -5px;
                }

            }

            .nav-link.active {

                background-color: transparent;
                border-color: transparent;
                color: #fff;

                &:after {
                    background-color: #fff;
                }

            }

        }
    }

.cardLayout.bookedcarWraper {
    height: 250px !important;
    width: 376px;

    .card.active {
        border: none;
    }

    .cardContainer,
    .cardLayout {
        width: 100% !important;
        height: 100% !important;

}

}
    .cardLayout {
        width: 276px;
        height: 200px;
        margin-right: 30px;
        margin-bottom: 30px;
        display: inline-block;

        // .cardContainer.bookedcarWraper {
        //     height: 250px !important;
        //     width: 376px;
        //     .card.active {
        //         border: none;
        //     }

        // }

        .cardContainer {
            width: 276px;
            height: 200px;


            .card {
                height: 100%;
                border-radius: 3px;

                .cardContent {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    padding: 20px;

                    a {
                        text-decoration: none;
                    }


                    .carLoanSelection {
                        display: flex;
                        justify-content: space-between;

                        .homeLoanbtn {
                            font-size: 12px;
                            color: #161037;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 400;
                            background-color: #fff;
                            border-radius: 3px;
                            border: none;
                            padding: 8px 12px;
                            max-height: 30px;
                            line-height: 1;

                            &:focus,
                            :active {
                                outline: none;
                                box-shadow: none;
                            }
                        }
                    }


                    .content-wraper {

                        .cardContentTitle {
                            font-size: 26px;
                            color: #161037;
                            font-family:'CircularStd';
                            font-weight: 900;
                            margin: 0;
                        }

                        .cardContentTitle.bookedcar {
                            margin-bottom: 0px !important;
                            font-size: 20px;
                            color: #fff !important;
                        }

                        .bookingId {
                            font-size: 12px;
                            font-family: 'CircularStd';
                        }

                        .blockchainNavWraper {

                            font-size: 14px;
                            font-weight: 600;
                            color: #fff;
                            float: right;

                            i {
                                margin-left: 5px;
                            }
                            a {
                                color: #fff;
                            }
                        }
                    }
                }

                .ContinueBtnWraper {
                    padding: 15px 20px;
                    background-color: #161037;
                    color: #FADD02;
                    font-family: 'Roboto',
                        sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    border-bottom-right-radius: 3px;
                    border-bottom-left-radius: 3px;

                    a {
                        text-decoration: none;
                        color: #FADD02;
                        float: right;
                    }

                    i {
                        margin-left: 5px;
                    }
                }

                .arrow {
                    display: none;
                }

                .siteNav {

                    position: relative;
                    padding-left: 20px;
                    float: right;
                    display: none;


                    &::before {
                        content: "";
                        background-image: url('/public/images/globe.svg');
                        background-position: center center;
                        background-size: 100%;
                        background-repeat: no-repeat;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        width: 14px;
                        height: 14px;
                        transform: translateY(-50%);
                    }

                    a {
                        color: #fff;
                        text-decoration: none;
                        font-size: 12px;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 400;
                    }
                }

            }


            .card.active {
                background: rgba(90, 84, 111, 0.9);

                .cardContentTitle {
                    color: #fff !important;
                    margin-bottom: 20px;
                }

                .arrow {
                    display: block;
                    float: right;
                }

                .siteNav.active {
                    display: block;
                }



                .image-wraper {
                    img {
                        filter: invert(0) sepia(0) saturate(1) hue-rotate(0deg) brightness(100);
                    }
                }
            }
        }

    }
}


