.carSection {
    display: flex;
    height: 100vh;

    .steperContainer {

        padding-top: 30px;
        padding-left: 85px;
        background-color: #161037;
        width: 360px;
        padding-right: 20px;

        .steperDataContainer {

            .stepetBackbtn {
                position: relative;
                color: #fff;
                font-size: 14px;
                font-family: 'Roboto', sans-serif;
                text-decoration: none;

                &::after {
                    content: "\f104";
                    width: 5px;
                    height: 5px;
                    position: absolute;
                    top: 8px;
                    transform: translateY(-50%);
                    left: 0;
                    font-family: 'FontAwesome';
                    line-height: 1.5;
                }
            }

            .steperDatatilte {
                font-size: 20px;
                font-family: 'CircularStd';
                color: #fff;
                font-weight: 900;
                margin-top: 20px;
            }


            .steperWraper {
                margin-top: 30px;

                .step {
                    padding: 10px;
                    padding-left: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    background-color: cream;
                }

                .v-stepper {
                    position: relative;
                    /*   visibility: visible; */
                }


                /* regular step */
                .step .circle {
                    border: 1px solid gray;
                    border-radius: 100%;
                    color: #fff;
                    width: 20px;
                    text-align: center;
                    height: 20px;
                    display: inline-block;
                    font-size: 12px;

                }

                .step .line {
                    top: 25px;
                    left: 50%;
                    height: 100%;
                    position: absolute;
                    border-left: 1px solid gray;
                    transform: translateX(-50%);
                }

                .step.completed .circle {
                    visibility: visible;
                    background-color: #161037;
                    border: 1px solid #fff;
                    color: #fff;
                    text-align: center;
                    font-size: 12px;
                    z-index: 3;
                    position: relative;
                }

                .step.completed {

                    .details {

                            position: relative;

                        &:after {
                            content: '';
                            background-image: url('../../../public/images/check.svg');
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: 100%;
                            width: 15px;
                            height: 15px;
                            position: absolute;
                            top: auto;
                            bottom: 6px;
                            right: 0;
                            transform: translateY(-50%);
                        }
                    }
                }

                .subText {
                    // visibility: hidden;
                    display: none;
                }

                .subText.active {
                    display: block;
                    margin-top: 20px;
                    position: relative;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 400;
                    // visibility: visible;
                    font-family: 'Roboto', sans-serif;

                    span {
                        opacity: 0.6;
                        font-size: 14px;
                        font-weight: 400;
                        font-family: 'Roboto',
                            sans-serif;
                    }

                    p {
                        opacity: 0.3;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        left: -22px;
                        top: 8px;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: yellow;
                    }
                }

                // .step.completed .line {
                //     border-left: 1px solid rgb(6, 150, 215);
                // }

                .step.active .circle {
                    visibility: visible;
                    background: #fff;
                    color: #000;
                    font-size: 12px;
                    font-weight: 900;
                    font-family: 'CircularStd';
                    position: relative;
                    z-index: 3;
                }

                .step.active{

                    .stepLabel{
                        font-weight: 700 !important;
                    }
                }

                .step.empty .circle {
                    visibility: hidden;
                }

                .step.empty .line {
                    /*     visibility: hidden; */
                    /*   height: 150%; */
                    top: 0;
                    height: 150%;
                }


                .step:last-child .line {
                    border-left: 1px solid white;
                    z-index: -1;
                    /* behind the circle to completely hide */
                }

                .content {
                    margin-left: 10px;
                    display: inline-block;
                    width: 100%;
                    min-height: 80px;

                    .stepDetailsWraper {
                        margin-top: -12px;
                        color: #fff;


                        .stepPosition {
                            font-size: 12px;
                            opacity: 0.5;
                            font-weight: 400;
                            font-family: 'Roboto', sans-serif;
                        }
                        .stepLabel {
                            margin: 0;
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}



.dealerDetailsContainer {

    background-image: url('/public/images/qrbg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

    .dealerDetailsWraper {
        background: rgba(22, 16, 55, 0.9);
        padding: 30px;
        padding-right: 85px;
        height: 100%;

        .dealerTilteWraper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .titleWraper {

                h2 {

                    color: #fff;
                    font-family: 'CircularStd';
                    font-weight: 900;
                    font-size: 28px;
                }
            }

            .searchWraper {
                position: relative;
                width: 300px;

                .search {
                    background: transparent;
                    border: none;
                    border-bottom: 1px solid #fff;
                    border-radius: 0;
                    padding-left: 35px;
                    position: relative;
                    color: #fff;
                    font-size: 14px;

                    &:focus {

                        outline: none;
                        box-shadow: none;
                    }
                }

                &::before {
                    content: '';
                    background-image: url('/public/images/search-sharp.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 100%;
                    position: absolute;
                    left: 10px;
                    top: 11px;
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                }
            }
        }
    }
}



// modal portion csss  //

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1366px !important;
        margin: 1.75rem auto;
    }
}

.Navimages {
    width: 1200px;
    height: 768px;
    overflow: auto;
    margin: auto;
    position: relative;

    img {
        width: 100%;
    }

    .imageNavWraper {
          display: inline-block;
          position: absolute;
          top: 395px;
          left: 0px;
          width: 300px;
          background: #fff;
          height: 70px;
          border: 1px solid #eee;
                display: block;
                background: linear-gradient(to right, #235BAB 50%, #ffffff 50%);
                background-size: 200% 100%;
                background-position: right bottom;
                transition: all .2s ease-out;

          &:hover{
            border: 1px solid #235BAB;
             

          }

        span{
               font-size: 14px;
               font-family: 'CircularStd';
               font-weight: 700;
               color: #000;
               position: absolute;
               top: 25px;
               left: 94px;
                transition: all .3s ease-out;
                 display: block;

        }
    }
    .imageNavWraper.active{
        background-position: left bottom;

        span{
            color: #fff;
        }
    }
}

.Navimages.carDealers{

    .carDealernav{

          position: absolute;
          width: 243px;
          height: 175px;
          top: 180px;
          left: 75px;
    }
}

.Navimages.cars {

    .carsNav{
        position: absolute;
        width: 243px;
        // background-color: yellow;
        height: 175px;
        top: 180px;
        left: 75px;
    }
}

.Navimages.Quote {

    .quoteNavWraper {
            position: absolute;
            width: 512px;
            height: 40px;
            right: 75px;
            bottom: 142px;
             border: 1px solid #eee;
             border-radius: 3px;
             display: block;
             background: linear-gradient(to right, #235BAB 50%, #ffffff 50%);
             background-size: 200% 100%;
             background-position: right bottom;
             transition: all .2s ease-out;

             &:hover {
                 border: 1px solid #235BAB;


             }
              span {
                    position: absolute;
                    top: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 12px;
                    font-weight: 700;
                    color: #000;
                    font-family: 'Roboto',
                    sans-serif;
                  transition: all .3s ease-out;
                  display: block;

              }
    }
       .quoteNavWraper.active {
           background-position: left bottom;

           span {
               color: #fff;
           }
       }
}


// mobile aproval and checkmark 

.Navimages.mobaprovalSection{

    .mobaprovalContainer{

           position: absolute;
           width: 100%;
           height: 400px;
           background: #fff;
           top: 116px;
           left: 0;

           .mobileContainer{
               display:flex;
               justify-content: center;
               align-items: center;
               height: 100%;
               flex-direction: column;

               .mobileWraper{
                position: relative;
                width: 90px;
                height: 210px;
                background-image: url('../../../public/images/mobile.svg');
                background-position: center;
                background-size: 100%;
                background-repeat: no-repeat;
                overflow: hidden;

                .mobile{
                width: 90px;
                height: 173px;
                overflow: hidden;
                position: relative;
                transition: 0.3s ease-in;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 70px;
                        height: 14px;
                        bottom: 45px;
                        border-radius: 3px;
                        left: 50%;
                        background-color: #235babf5;
                          transform: translate(-50%, 60px);
                        transition: 0.3s ease-in;
                        }
                    }

                    .mobile.active{

                        &:after{
                        transform: translate(-50%, -50%);
                        transition: 0.3s ease-in;
                        }
                    }
                 
                }
                   .mobileText{
                        font-family: 'CircularStd';
                        font-size: 20px;
                        color: #000000;
                        text-align: center;
                        margin-top: 40px;
                        .d-none{
                            display: none;
                        }
                        .shade{
                            opacity: 0.5;
                        }
                        .bright{
                            opacity: 1;
                            font-weight: 900;
                        }


                    }

                    .mobileWraper.verified {
                        width: 150px !important;
                        height: 150px !important;
                        border: 3px solid #000 !important;
                        border-radius: 50%;
                        background-image: none !important;
                        background: #00aef0;
                        position: relative;
                        transition: 0.2s ease-in;
                        overflow: visible;

                        &::after{

                            content: "\f00c";
                            position: absolute;
                            line-height: 1;
                            font-size:60px;
                            font-family: FontAwesome;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);

                        }
                    }

               }
           }

    }







.Navimages.applyLoan {

    .applyLoanNav {
            position: absolute;
            width: 225px;
            height: 41px;
            left: 93px;
            top: 210px;
    }
}

// loan QR code verification

.Navimages.LoanQRcode {
    .QRCodeWraper {
        position: absolute;
        width: 238px;
        height: 238px;
        background: #ffffff;;
        top: 160px;
        left: 500px;

        .QRcode{
            width: 100%;
            height: 100%;

            img{
                width: 100%;
            }
        }
    }
}


//Personal banking confirmation

.Navimages.Banking{

    .personalBanking{
            position: absolute!important;
            width: 1200px!important;
            // height: 465px;
            left: 0px!important;
            top : 170px!important;
            border-radius: 3px!important;
            background-color: #fff!important;

            .detailsContainer{
                width: 695px;
                background-color: #fff;
                margin: auto;
                // padding-top: 6px;

                .expendDetails{
                    position: relative;

                    .expandTitle{
                        font-size: 20px;
                        font-weight:900;
                        color: #000;
                        position: relative;
                        padding-left: 20px;
                        margin: 0;
                        border-bottom: 1px solid #eee;

                        &::after{
                            content: '';
                            position: absolute;
                            width: 15px;
                            height: 15px;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 0;
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: 100%;
                        }
                    }

                    .expandTitle.car::after{
                        background-image: url('../../../public/images/car-sharp.svg');
                    }

                     .expandTitle.bank::after {
                         background-image: url('../../../public/images/list-sharp.svg');
                     }

                    
                }

                .detailsWraper{
                    display: flex;
                    padding-top: 20px;
                    flex-wrap:wrap;

                    .content{
                        width: 50%;
                          font-family: 'Roboto',
                          sans-serif;
                            color: #000;
                            line-height: 1;
                            margin-bottom: 20px;
                         
                        .title{
                           font-size: 16px;
                           font-weight: bold;
                          margin-bottom: 2px;                        
                        }
                        .sub-title{
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
                }
            }


            .btnContainer{
                  background-color:#E1321208;
                  .btnWraper {
                      width: 695px!important;
                      margin: auto!important;
                      text-align: right!important;
                      padding: 15px 0px!important;
                        font-family: 'Roboto',
                        sans-serif;
                        font-weight: 900;

                        .link{
                            font-size: 14px;
                            text-decoration: none;
                            color: #000;
                            font-weight: 900;
                            margin: 0px 15px;

                        }

                        .submit{
                            border:1px solid #1610371A;
                            border-radius: 3px;
                            font-size: 12px;
                            padding: 15px 45px;
                            font-weight:900;
                        }

                  }
            }
          
    }
}


// Insurance Landing Page


.Navimages.Insurance_Landing{

    .insurelandingNav{
                position: absolute;
                width: 180px;
                height: 40px;
                left: 165px;
                top: 386px;
                border-radius: 3px;
             
    }
    
}


// insurance get a quote and confirm page

.Navimages.Insurance_quote{

    .insureQuoteNav{

         position: absolute;
         width: 177px;
         height: 41px;
         right: 251px;
         bottom: -25px;
         border-radius: 3px;
    }
}

  // card payment Section

  .Navimages.Insurance_payment{

    .insurePaymentNav{

              position: absolute;
              width: 108px;
              height: 41px;
              left: 273px;
              top: 423px;
              border-radius: 3px;
    }
  }

//   Abu Dhabi police landing page

.Navimages.policeLanding{

   .policeLandingNav{

       position: absolute;
       width: 182px;
       height: 182px;
       left: 433px;
       top: 409px;
       background-color: #fff;
    }
}


// Police Confirmation Page

.Navimages.policeConfirmation{

    .policeConfirmationNav{

        position: absolute;
        width: 180px;
        height: 42px;
        right: 255px;
        bottom: 135px;
        border-radius: 3px;

    }
}