<div class="container h-100 p-0" id="login-account">
    <div class="row h-100 m-0 w-100">
        <div class="col-sm-6  p-0 align-items-center">
            <img src="/assets/images/logo.svg" draggable="false" title="Abu Dhabi Digital Authority"
                alt="Abu Dhabi Digital Authority">
        </div>
        <div class="col-sm-6 p-0 login-outer">
            <div class="card login-card">
                <div class="card-header">
                    <h1>Administrator Sign In</h1>
                    <p>Enter your details to sign in</p>
                </div>
                <div class="card-body">
                    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                        <mat-form-field>
                            <input matInput placeholder="Username" minlength="6" maxlength="15"
                                formControlName="username">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Password" formControlName="password" minlength="6"
                                maxlength="8" [type]="passwordType ? 'password': 'text'">
                            <mat-icon matSuffix (click)="changePasswordType()">
                                {{passwordType ? 'visibility': 'visibility_off'}}</mat-icon>
                        </mat-form-field>
                        <button mat-flat-button color="warn" [disabled]="loginForm.invalid">SIGNIN</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <span>Trouble <a href="">signing in?</a></span>
                </div>
            </div>
        </div>
    </div>
</div>