<header>
  <div class="container" id="header-containerId">
    <nav class="navbar navbar-light nav-head">
      <a class="navbar-brand" routerLink="">
        <img src="/assets/images/logo2.png" draggable="false" title="Abu Dhabi Police" alt="Abu Dhabi Police">
      </a>
      <div class="header-contents">
        <div class="header-contents-pad" *ngFor="let contents of headerMenus">
          <a routerLink="contents.url" [ngClass]="{'activeClass':router.url === contents.url}">{{contents.name}}</a>
        </div>
        <div class="profile-drop-down" [matMenuTriggerFor]="menu">
          <img src="/assets/images/profiles.svg" draggable="false" [title]="userItemsArrayReferred.response.name"
            [alt]="userItemsArrayReferred.response.name">
          <span class=" profile-name">{{userItemsArrayReferred.response.name}}</span>
          <img src="/assets/images/dropdown.svg" draggable="false" title="dropdown" alt="dropdown">
        </div>
        <mat-menu #menu="matMenu" class="profile-drop-down-menu">
          <div class="dropdown-item-s" (click)="goLogout()">Logout</div>
        </mat-menu>
      </div>
    </nav>
  </div>
</header>