<nav id="headerId" class="navbar navbar-dark sticky-top  flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3">
    <img src="/assets/images/logo.svg" draggable="false" title="Abu Dhabi Digital Authority"
      alt="Abu Dhabi Digital Authority">
  </a>
  <div class="navbar-brand-header">
    <h2>{{componentName}}</h2>
    <div class="navbar-brand-header-right">
      <div class="menu-right" [matMenuTriggerFor]="menu">
        <img src="/assets/images/Person.svg" draggable="false" [title]="userItemsArrayReferred.response.name"
          [alt]="userItemsArrayReferred.response.name">
        <span>{{userItemsArrayReferred.response.name}}</span>
      </div>
      <mat-menu #menu="matMenu">
        <span class="logout-class" (click)="goLogout()">Logout</span>
      </mat-menu>
    </div>
  </div>
</nav>