footer{
    height: 75px;
    background: white;
    border: 1px solid #EAEAEC;
    border-left: none;
    padding: 20px 85px 20px 30px;
    position: fixed;
    width: calc(100% - 200px);
    bottom: 0;
    left:200px;
    z-index: 1200;
    section{
        position: absolute;
        right: 85px;
        top: 50%;
        transform: translateY(-50%);
    }
}