<footer>
    <section>
            <button type="button" class="btn btn-light btn-light-danger mr-2">REJECT</button>
            <button type="button" class="btn btn-primary" (click) = "approveLoan()">APPROVE LOAN</button>
    </section>
</footer>
