<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <app-sidebar></app-sidebar>

    <main role="main" class="main-container">

      <router-outlet></router-outlet>


    </main>
  </div>
</div>

