.sidebar {
    height: 100%;
    width:200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border: 1px solid #EAEAEC;
    border-top: none;
    overflow-x: hidden;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  header{
    height: 75px;
    border: 1px solid #EAEAEC;
    border-left: none;
    border-right: none;
    padding: 20px 35px;
    span{
        color: #323846;
        font-size: 25px;
        font-family: 'CircularStd', sans-serif;
        padding-left: 5px;
    }
    img{
        position: relative;
        top: -3px;
    }
  }
  ul{
      padding:0px;
      padding-top: 20px;
      li{
        list-style: none;
        height: 40px;
        width: 100%;
        text-align: left;
        padding: 9px 40px;
        margin: 20px 0px;
        font-size: 14px;
        color:#121B2F;
        &:hover, &:focus{
            background: #1089FF1A;
            outline: none;
            color: #1089FF;
            font-weight: bold;
        }
      }
      li.is-active{
        background: #1089FF1A;
        outline: none;
        color: #1089FF;
        font-weight: bold;
      }
  }