<div class="sidebar">
    <header>
            <img src="assets/images/brandLogo.png" />
            <span>HSBC</span>
    </header>
   <ul>
       <li>DASHBOARD</li>
       <li [routerLink]="['/loans']" [routerLinkActive]="['is-active']">LOANS</li>
       <li>INVESTMENTS</li>
       <li>ACCOUNTS</li>
   </ul>
  </div>
