<div>
    <div class="container  h-100">
        <div class="row w-100">
            <div class="col-12">
                <div class="text-center mt-30">
                    <img src="/assets/images/logo.png" draggable="false" title="Abu Dhabi Police"
                        alt="Abu Dhabi Police">
                    <div class="mt-25">
                        <h3 class="app-text">Welcome to <span class="app-text-sub">Abu Dhabi Police e-Services</span>
                        </h3>
                    </div>
                    <div class="card-layout-container">
                        <div class="card login-card">
                            <div class="card-heading-layout">
                                <div class="card-header-inner">
                                    <p class="title">Sign In</p>
                                    <p class="subtitle">Enter your details to sign in</p>
                                </div>

                            </div>
                            <div class="card-body">
                                <div class="card-login-body">
                                    <form class="login-form mt-30 " [formGroup]="loginForm"
                                        (ngSubmit)="onLoginSubmit()">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Username" minlength="7" maxlength="15"
                                                formControlName="username" type="text">
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Password" formControlName="password"
                                                minlength="6" maxlength="8" [type]="passwordType ? 'password': 'text'">
                                            <mat-icon matSuffix (click)="changePasswordType()">
                                                {{passwordType ? 'visibility': 'visibility_off'}}</mat-icon>
                                        </mat-form-field>
                                        <button mat-flat-button color="warn"
                                            [disabled]="loginForm.invalid">SIGNIN</button>
                                    </form>
                                </div>
                            </div>
                            <div class="card-login-footer">
                                <p>Trouble <a><span>signing in?</span></a> </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>