@import '../../scss/colors';

section.viewData{
    padding: 75px 0px 75px 200px;
}
.nav-tabs .nav-item{
    padding: 20px 5px 15px 5px;
    margin-right: 50px;
}
li.nav-item.active {
    border-bottom: 3px solid $primary;
}
.nav-tabs .nav-link{
    color: $primary;
    font-size: 14px;
    color: rgba(50,56,70, 0.2);
    font-weight: 800;
    border: none;
    padding-bottom: 0px;
    }
    .nav-tabs .nav-link:hover{
        background: none !important;
        border: none;
        font-size: 14px;
    }
    
    .nav-tabs .nav-link.active{
    background-color:none !important;
    color:  $primary !important;
    font-size: 14px;
    font-weight: 800;
    border: none;
    }
    .nav-tabs .nav-link.active:hover{
    //color: $btn-submit;
    background: none !important;
    }
    