<app-header></app-header>
<app-sidenav></app-sidenav>
<section class="viewData">
    <tabset>
        <tab heading="PENDING APPROVALS ({{pendingCount}}) " id="tab1">
            <app-pending-approvals></app-pending-approvals>
            <app-footer *ngIf = "isFooter"></app-footer>
        </tab>
        <tab heading="HISTORY"><app-history></app-history></tab>
      </tabset>
</section>

<app-profile></app-profile>

