@import '../../scss/colors';

.pendingApprovals {
  border: 1px solid $border-color;
  border-top-color: transparent;
  border-left-color: transparent;
  // margin-top: 75px;

  .heading {
    color: $primary;

  }

  .section-title {
    margin: 20px 5px 20px 20px;
  }

}

.filterSectionContainer {

  .col-md-9 {
    padding: 0px;
  }

  border: 1px solid $border-color;
  border-left: 1px solid transparent;
  padding: 0px;
    border-top: none;
  .filterSectionTitle {
    padding: 20px 5px 20px 20px;
    color: $primary;
    border-bottom: 1px solid $border-color;

    .filter {
      float: right;
      padding-top: 6px;

      .text {
        margin-left: 10px;
        margin-right: 20px;

      }
    }
  }
}

.pendingList {
  padding: 20px 5px 20px 20px;
  border-bottom: 1px solid $border-color;
  
  .date {
    margin: 0px;
  }

}

.active {
  background: $card-background;
  border-right: 3px solid $border-color-right;
}

.row {
  margin: 0px;
}

.col-md-9 {
  padding: 0px;
}

.loanReference {
  .loanReferenceTitle {
    border-bottom: 1px solid $border-color;
    margin-top: 20px;
    padding-bottom: 20px;

    title {
      color: $primary;
      margin: 0px;
    }

    p {
      margin: 0px;
    }

    .appDate {
      margin-right: 85px;
      border: 1px solid $card-border-color;
      padding: 10px 15px;
      border-radius: 3px;
      background: $card-background;
      font-family: 'Roboto', sans-serif;
    }
  }
}

.loanCard {
  margin: 15px;
  width: 88%;
  .cardHeaderSection {
    background: #FBF9F3;
  }

  .title {
    margin-left: 10px;
    font-weight: 400;
  }

  .heading {
    margin: 0px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }

  .cardDetails {
    margin-bottom: 20px;
  }

  .documentsNumber,
  .checked {
    float: right;
  }
  .checked{
    .text{
      margin-right: 8px;
    }
  }

  .supportingCredentialList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .supportingCredential {
      width: 48%;
      border: 1px solid #42B88380;
      border-radius: 3px;
      padding: 10px 20px 10px 20px;
      background: #52DE9733;
      &:nth-child(odd) {
       // margin-right: 15px;
      }
      &:nth-child(even) {
      //  margin-left: 15px;
        float: right;
      }
      &:last-child {
        margin-bottom: 0px;
      }
    }
    .rejectedsupportingCredential {
        border: 1px solid #E13212;
        background: rgba(225, 50, 18, 0.32);
    }
  }

}

.btn-group.dropdownButton.open.show {
  display: inline-block !important;
}
