<div class="">
  <!-- <div class=" pendingApprovals">
    <div class="row heading section-title"> -->
      <!-- <span class="">PENDING APPROVALS (9)</span> -->
      <!-- <span class="cp col-md-3 font-14 weight-800">HISTORY</span> -->
    <!-- </div>
  </div> -->

  <!-- filter section -->

  <div class=" row"  *ngIf = "viewDetails && isPendingLists">
    <div class="col-md-3 filterSectionContainer">
      <div class="filterSectionTitle">
        <span class="font-14">Sort by:</span>
        <div class="btn-group dropdownButton" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn font-14 dropdown-toggle"
            aria-controls="dropdown-basic">
            Recent <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
        <span class="filter">
          <img src="../assets/images/tune-24px.svg">
          <span class="font-14 text">Filter</span>
        </span>

      </div>

      <!-- filter list -->
      <div *ngFor="let item of details" class="pendingList cp" (click) = "viewLoanDetails(item)" [ngClass]="{'active': viewDetails == item}" >
        <span class="font-14 weight-800 ">LOAN REFERENCE: {{item.loanrefno}}</span>
        <p class="date font-12">{{item.loanapplieddate}}</p>
      </div>
    </div>
    <!-- LOAN REFERENCE -->
    <div class="col-md-9 loanReference">
      <div class="row">
        <div class="col-md-6 loanReferenceTitle">
          <p class="title weight-800">LOAN REFERENCE: <span>{{viewDetails.loanrefno}}</span></p>
          <span class="font-12">CAR LOAN</span>
        </div>
        <div class="col-md-6 loanReferenceTitle loanReferenceDate text-right pr-0">
          <span class="appDate font-14 weight-800"> Application Date: <span>{{viewDetails.loanapplieddate}}</span>
        </span>
        </div>
      </div>
      <app-loader *ngIf = "showLoader"></app-loader>
      <!-- applicant details -->
      <div class="card loanCard">
        <div class="card-header cardHeaderSection"><i class="fas fa-user font-17"></i>
          <span class="font-18 title weight-400">Applicant Details</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <p class="heading">First Name</p>
              <span>{{viewDetails.applicantfname}}</span>
            </div>
            <div class="col-md-6">
              <p class="heading">Last Name</p>
              <span>{{viewDetails.applicantlname}}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- car details -->

      <div class="card loanCard">
        <div class="card-header cardHeaderSection"><i class="fas fa-car font-17"></i>
          <span class="font-18 title weight-400">Car Details</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 cardDetails">
              <p class="heading">Dealer</p>
              <span class="font-14">{{viewDetails.dealer}}</span>
            </div>
            <div class="col-md-6 cardDetails">
              <p class="heading">Booking ID</p>
              <span class="font-14">{{viewDetails.bookingid}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 cardDetails">
              <p class="heading">Car Manufacturer</p>
              <span>{{viewDetails.manufaturer}}</span>
            </div>
            <div class="col-md-6 cardDetails">
              <p class="heading">Model</p>
              <span class="font-14">{{viewDetails.model}}</span>
            </div>
            <div class="col-md-6 cardDetails">
              <p class="heading">Ex-Showroom Price (AED)</p>
              <span class="font-14">{{viewDetails.showroomprice}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Bank Statement -->
      <div class="card loanCard">
        <div class="card-header cardHeaderSection"><i class="fa fa-list-alt font-17" aria-hidden="true"></i>
          <span class="font-18 title weight-400">Bank Statement</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 cardDetails">
              <p class="heading">Bank Name</p>
              <span class="font-14">{{viewDetails.statementbname}}</span>
            </div>
            <div class="col-md-6 cardDetails">
              <p class="heading">Account Number</p>
              <span class="font-14">{{viewDetails.statementaccountnumber}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 cardDetails">
              <p class="heading">Credit Score</p>
              <span class="font-14">{{viewDetails.statementcreditscore}}</span>
            </div>
            <div class="col-md-6 cardDetails">
              <p class="heading">Account Holder Name</p>
              <span class="font-14">{{viewDetails.applicantfname}}  {{viewDetails.applicantlname}}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- supporting credentials -->
      <div class="card loanCard">
        <div class="card-header cardHeaderSection"><i class="fa fa-list-alt font-17" aria-hidden="true"></i>
          <span class="font-18 title weight-400">Supporting Credentials Required</span>
          <span class="documentsNumber font-14">3/3 Documents</span>
        </div>
        <div class="card-body">
          <div class="supportingCredentialList">
            <div class="cardDetails weight-800 supportingCredential" [ngClass]="{'rejectedsupportingCredential': viewDetails.smartpasssubmission === 0}">
              <span>SmartPass ID</span>
              <span class="checked">
                <section  *ngIf = "viewDetails.smartpasssubmission === 1"><span class="text font-14">Verified </span><i class="far fa-check-circle"></i></section>
                <section  *ngIf = "viewDetails.smartpasssubmission === 0"><span class="text font-14">Rejected </span><i class="far fa-times-circle"></i></section>
              </span>
            </div>
            <div class=" cardDetails weight-800 supportingCredential" [ngClass]="{'rejectedsupportingCredential': viewDetails.carquotesubmission === 0}">
              <span>Car Quote</span>
              <span class="checked">
                  <section  *ngIf = "viewDetails.carquotesubmission === 1"><span class="text font-14">Verified </span><i class="far fa-check-circle"></i></section>
                  <section  *ngIf = "viewDetails.carquotesubmission === 0"><span class="text font-14">Rejected </span><i class="far fa-times-circle"></i></section>
              </span>
            </div>
            <div class="cardDetails weight-800 supportingCredential" [ngClass]="{'rejectedsupportingCredential': viewDetails.bankstatementsubmission === 0}">
              <span>Bank Statement</span>
              <span class="checked">
                  <section  *ngIf = "viewDetails.bankstatementsubmission === 1"><span class="text font-14">Verified </span><i class="far fa-check-circle"></i></section>
                  <section  *ngIf = "viewDetails.bankstatementsubmission === 0"><span class="text font-14">Rejected </span><i class="far fa-times-circle"></i></section>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class=" row"  *ngIf = "!viewDetails && !isPendingLists">
    <p class="noDetails">No pending loans available !</p>
  </div>
</div>
