<div id="card-journey-Id">
  <h2>Car Journey</h2>
  <div class="mt-10 mb-50">
    <form class="history-options" [formGroup]="carForm">
      <mat-form-field class="search">
        <mat-icon matPrefix>search</mat-icon>
        <input type="text" matInput formControlName="searchText" placeholder="Search">
      </mat-form-field>
      <div class="history-options-end">
        <div class="history-options-end-pad">
          <label>Sort By :</label>
          <mat-form-field>
            <mat-select formControlName="SortBy">
              <mat-option value="Recent">Recent</mat-option>
              <mat-option value="Ascending">Ascending</mat-option>
              <mat-option value="Decending">Decending</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="history-options-end-pad ">
          <img src="/assets/images/filter.svg" draggable="false" title="filter" alt="filter">
          <span>Filter</span>
        </div>
      </div>
    </form>
    <div *ngIf="!filteredArray || filteredArray.length < 1">
      <span class="no-data">No Car Journey found.</span>
    </div>
    <div *ngIf="filteredArray && filteredArray.length > 0">
      <table class="table">
        <thead>
          <tr>
            <th>Journey Start Date</th>
            <th>Booking ID</th>
            <th>Car Manufacturer</th>
            <th>Model</th>
            <th>Current Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor=" let element of filteredArray">
            <th>{{element.journeystartdate ? element.journeystartdate :'-'}}</th>
            <td>{{element.bookingid ? element.bookingid :'-'}}</td>
            <td>{{element.carmake ? element.carmake :'-'}}</td>
            <td>{{element.carmodel ? element.carmodel :'-'}}</td>
            <td>
              <div class="status-outer">
                <div *ngIf="element.currentstatus==='carquotationreceived'" class="received">
                  <i class="material-icons"> description</i>
                  <span> Received Car Quotation</span>
                </div>
                <div *ngIf="element.currentstatus==='waitingforloan'" class="waiting">
                  <i class="material-icons"> schedule</i>
                  <span>Waiting Loan Approval</span>
                </div>
                <div *ngIf="element.currentstatus==='loanapproved'" class="approved">
                  <i class="material-icons"> check_circle_outline</i>
                  <span>Loan Approved</span>
                </div>
                <div *ngIf="element.currentstatus==='insurancereceived'" class="ins-received">
                  <i class="material-icons"> list_alt</i>
                  <span>Received Insurance</span>
                </div>
                <div *ngIf="element.currentstatus==='completed'" class="completed">
                  <i class="material-icons"> card_travel</i>
                  <span>Journey Completed</span>
                </div>
                <div *ngIf="element.currentstatus==='vehicleregistrationapplied'" class="applied">
                  <i class="material-icons"> contacts</i>
                  <span>Registration Applied</span>
                </div>
              </div>
            </td>
            <td>
              <a class="table-view-more" (click)="openSideNav(element)">View
                More</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="car-journey-sideNav" class="sidenav-right-left">
  <ng-container *ngIf="!sideNavDetails">
    <div class="sidenav-header ">
      <div class="sidenav-header-pad align-inline">
        <span class="no-data">No more Car Journey details found.</span>
        <img src="/assets/images/close.svg" (click)="closeSideNav()" draggable="false" title="close" alt="close">
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="sideNavDetails">
    <div class="sidenav-header">
      <div class="sidenav-header-pad">
        <div class="side-nav-header-contents">
          <h4>BOOKING ID: {{selectedElement.bookingid ? selectedElement.bookingid :'-'}}
            <div class="status-outer ml-50">
              <div *ngIf="selectedElement.currentstatus==='carquotationreceived'" class="received">
                <i class="material-icons"> description</i>
                <span> Received Car Quotation</span>
              </div>
              <div *ngIf="selectedElement.currentstatus==='waitingforloan'" class="waiting">
                <i class="material-icons"> schedule</i>
                <span>Waiting Loan Approval</span>
              </div>
              <div *ngIf="selectedElement.currentstatus==='loanapproved'" class="approved">
                <i class="material-icons"> check_circle_outline</i>
                <span>Loan Approved</span>
              </div>
              <div *ngIf="selectedElement.currentstatus==='insurancereceived'" class="ins-received">
                <i class="material-icons"> list_alt</i>
                <span>Received Insurance</span>
              </div>
              <div *ngIf="selectedElement.currentstatus==='completed'" class="completed">
                <i class="material-icons"> card_travel</i>
                <span>Journey Completed</span>
              </div>
              <div *ngIf="selectedElement.currentstatus==='vehicleregistrationapplied'" class="applied">
                <i class="material-icons"> contacts</i>
                <span>Registration Applied</span>
              </div>
            </div>
          </h4>

          <img src="/assets/images/close.svg" (click)="closeSideNav()" draggable="false" title="close" alt="close">
        </div>
        <!-- <span class="load-details">AbuBaker Sidiqqi</span> -->
        <p class="appl-date">Application
          Date:{{selectedElement?.journeystartdate ? selectedElement?.journeystartdate :'-'}}
        </p>
      </div>
    </div>
    <div class="sidenav-main-content">
      <mat-tab-group>
        <mat-tab label="CAR QUOTATION">
          <div class="outer-div">
            <div class="sidenav-box">
              <div class="sidenav-cont-header">
                <i class="material-icons"> list_alt</i>
                <p>Quote Details</p>
                <span></span>
              </div>
              <div class="sidenav-cont-main">
                <div class="col-sm-6 main-pad">
                  <p> Dealer</p>
                  <span>{{sideNavDetails?.carDetails?.quotedetails?.dealer ? sideNavDetails?.carDetails?.quotedetails?.dealer :'-'}}</span>
                </div>
                <div class="col-sm-6 main-pad">
                  <p> Booking ID</p>
                  <span>{{sideNavDetails?.carDetails?.quotedetails?.bookingid? sideNavDetails?.carDetails?.quotedetails?.bookingid:'-'}}</span>
                </div>
              </div>
              <div class="sidenav-cont-main">
                <div class="col-sm-6 main-pad">
                  <p> Car Manufacturer</p>
                  <span>{{sideNavDetails?.carDetails?.quotedetails?.carmanufacturer ? sideNavDetails?.carDetails?.quotedetails?.carmanufacturer  :'-'}}</span>
                </div>
                <div class="col-sm-6 main-pad">
                  <p> Model</p>
                  <span>{{sideNavDetails?.carDetails?.quotedetails?.carmodel ? sideNavDetails?.carDetails?.quotedetails?.carmodel :'-'}}</span>
                </div>
              </div>
              <div class="sidenav-cont-main">
                <div class="col-sm-6 main-pad">
                  <p> Ex-Showroom Price (AED)</p>
                  <span>{{sideNavDetails?.carDetails?.quotedetails?.carshowroomprice ? sideNavDetails?.carDetails?.quotedetails?.carshowroomprice :'-'}}</span>
                </div>
              </div>
            </div>
            <div class="sidenav-box">
              <div class="sidenav-cont-header">
                <img src="/assets/images/block.png" draggable="false" title="Blockchain Timeline"
                  alt="Blockchain Timeline">
                <p>Blockchain Timeline</p>
                <span></span>
              </div>
              <div class="sidenav-cont-main">
                <div class="col-sm-12 main-pad block-chain">
                  <div class="block-chain-outer">
                    <div class="circle"></div>
                    <span> Car Quotation Received</span>
                  </div>
                  <div class="block-div">
                    <span>{{selectedElement?.journeystartdate ? selectedElement?.journeystartdate :'-'}}</span>
                  </div>
                  <div class="block-chain-outer-main">
                    <mat-accordion>
                      <mat-expansion-panel [hideToggle]="true" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <div>
                              <p>Transaction Hash</p>
                              <span
                                *ngIf="sideNavDetails?.carDetails?.blockchaintimeline?.transactionhash">{{(sideNavDetails?.carDetails?.blockchaintimeline?.transactionhash?.length>60)? (sideNavDetails?.carDetails?.blockchaintimeline?.transactionhash | slice:0:60)+'..':(sideNavDetails?.carDetails?.blockchaintimeline?.transactionhash) }}</span>
                            </div>
                            <div class="dropdown-block">
                              <ng-container *ngIf="!panelOpenState">
                                <span>View More <img src="/assets/images/dropdown.svg" draggable="false"
                                    title="View More" alt="View More"> </span>
                              </ng-container>
                              <ng-container *ngIf="panelOpenState">
                                <span>View Less <img src="/assets/images/dropdown.svg" draggable="false"
                                    title="View Less" class="rotate" alt="View Less"> </span>
                              </ng-container>
                            </div>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="sidenav-cont-main mt-10">
                          <div class="col-sm-4  pr-0">
                            <div class="expand">
                              <img src="/assets/images/connect.png" draggable="false" title="Transaction Status"
                                alt="Transaction Status">
                              <p>Transaction Status</p>
                            </div>
                            <span
                              class="success">{{sideNavDetails?.carDetails?.blockchaintimeline?.transactionstatus? sideNavDetails?.carDetails?.blockchaintimeline?.transactionstatus:'-'}}</span>
                          </div>
                          <div class="col-sm-3 pr-0 ">
                            <div class="expand">
                              <img src="/assets/images/block-mini.png" draggable="false" title="Block Number"
                                alt="Block Number">
                              <p> Block Number</p>
                            </div>
                            <span>{{sideNavDetails?.carDetails?.blockchaintimeline?.blocknunmber? sideNavDetails?.carDetails?.blockchaintimeline?.blocknunmber:'-'}}</span>
                          </div>
                          <div class="col-sm-6 pr-0">
                            <div class="expand">
                              <img src="/assets/images/time.svg" draggable="false" title="Timestamp" alt="Timestamp">
                              <p> Timestamp</p>
                            </div>
                            <span>{{sideNavDetails?.carDetails?.blockchaintimeline?.timestamp? sideNavDetails?.carDetails?.blockchaintimeline?.timestamp:'-'}}</span>
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="BANK LOAN">
          <div class="outer-div-bank">
            <div class="sidenav-box">
              <div class="sidenav-cont-header">
                <i class="material-icons"> account_balance</i>
                <p>Quote Details</p>
                <span></span>
              </div>
              <div class="sidenav-cont-main">
                <div class="col-sm-6 main-pad">
                  <p> Reference Number</p>
                  <span>{{sideNavDetails?.bankLoanDetails?.loandetails?.loanreferenceno? sideNavDetails?.bankLoanDetails?.loandetails?.loanreferenceno:'-'}}</span>
                </div>
                <div class="col-sm-6 main-pad">
                  <p> Bank Name</p>
                  <span>{{sideNavDetails?.bankLoanDetails?.loandetails?.bankname? sideNavDetails?.bankLoanDetails?.loandetails?.bankname:'-'}}</span>
                </div>
              </div>
              <div class="sidenav-cont-main">
                <div class="col-sm-6 main-pad">
                  <p> Date of Application</p>
                  <span>{{sideNavDetails?.bankLoanDetails?.loandetails?.dateofapplication? sideNavDetails?.bankLoanDetails?.loandetails?.dateofapplication:'-'}}</span>
                </div>
                <div class="col-sm-6 main-pad ">
                  <p> Status</p>
                  <span class="row-flex">
                    Approved on
                    {{sideNavDetails?.bankLoanDetails?.loandetails?.approveddate ? sideNavDetails?.bankLoanDetails?.loandetails?.approveddate:'-'}}
                    <div class="outer-round" *ngIf="sideNavDetails?.bankLoanDetails?.loandetails?.approveddate">
                      <i class="material-icons">
                        done
                      </i>
                    </div>
                  </span>
                </div>
              </div>
              <div class="sidenav-cont-main">
                <div class="col-sm-12 main-pad">
                  <p> Supporting Credentials</p>
                  <div class="row mt-5p">


                    <span class="col-sm-4 row-flex">
                      SmartPass ID
                      <div class="outer-round"
                        *ngIf="sideNavDetails?.bankLoanDetails?.loandetails?.smartpassidsubmission && sideNavDetails?.bankLoanDetails?.loandetails?.smartpassidsubmission  === 1">
                        <i class="material-icons">
                          done
                        </i>
                      </div>
                    </span>
                    <span class="col-sm-4 row-flex">
                      Car Quote
                      <div class="outer-round"
                        *ngIf="sideNavDetails?.bankLoanDetails?.loandetails?.carquotesubmission && sideNavDetails?.bankLoanDetails?.loandetails?.carquotesubmission  === 1">
                        <i class="material-icons">
                          done
                        </i>
                      </div>
                    </span>
                    <span class="col-sm-4 row-flex">
                      Bank Statement
                      <div class="outer-round"
                        *ngIf="sideNavDetails?.bankLoanDetails?.loandetails?.bankstatementsubmission && sideNavDetails?.bankLoanDetails?.loandetails?.bankstatementsubmission  === 1">
                        <i class="material-icons">
                          done
                        </i>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="sidenav-box">
              <div class="sidenav-cont-header">
                <img src="/assets/images/block.png" draggable="false" title="Blockchain Timeline"
                  alt="Blockchain Timeline">
                <p>Blockchain Timeline</p>
                <span></span>
              </div>
              <div class="sidenav-cont-main dis-block">
                <div class="col-sm-12 main-pad block-chain">
                  <div class="line-through" [ngClass]="{'open': panelOpenStateBank ,'close': !panelOpenStateBank }">
                  </div>
                  <div class="block-chain-outer">
                    <div class="circle"></div>
                    <span> Loan Approval</span>
                  </div>
                  <div class="block-div">
                    <span>Received on:
                      {{sideNavDetails?.bankLoanDetails?.loandetails?.approveddate? sideNavDetails?.bankLoanDetails?.loandetails?.approveddate:'-'}}</span>
                  </div>
                  <div class="block-chain-outer-main">
                    <mat-accordion>
                      <mat-expansion-panel [hideToggle]="true" (opened)="panelOpenStateBank = true"
                        (closed)="panelOpenStateBank = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <div>
                              <p>Transaction Hash</p>
                              <span
                                *ngIf="sideNavDetails?.bankLoanDetails?.blockchaintimeline?.loanapproveddetails?.transactionhash">
                                {{(sideNavDetails?.bankLoanDetails?.blockchaintimeline?.loanapproveddetails?.transactionhash.length>60)? (sideNavDetails?.bankLoanDetails?.blockchaintimeline?.loanapproveddetails?.transactionhash  | slice:0:60)+'..':(sideNavDetails?.bankLoanDetails?.blockchaintimeline?.loanapproveddetails?.transactionhash) }}</span>
                            </div>
                            <div class="dropdown-block">
                              <ng-container *ngIf="!panelOpenStateBank">
                                <span>View More <img src="/assets/images/dropdown.svg" draggable="false"
                                    title="View More" alt="View More"> </span>
                              </ng-container>
                              <ng-container *ngIf="panelOpenStateBank">
                                <span>View Less <img src="/assets/images/dropdown.svg" draggable="false"
                                    title="View Less" class="rotate" alt="View Less"> </span>
                              </ng-container>
                            </div>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="sidenav-cont-main mt-10">
                          <div class="col-sm-4  pr-0">
                            <div class="expand">
                              <img src="/assets/images/connect.png" draggable="false" title="Transaction Status"
                                alt="Transaction Status">
                              <p>Transaction Status</p>
                            </div>
                            <span
                              class="success">{{sideNavDetails?.bankLoanDetails?.blockchaintimeline?.loanapproveddetails?.transactionstatus ? sideNavDetails?.bankLoanDetails?.blockchaintimeline?.loanapproveddetails?.transactionstatus:'-'  }}</span>
                          </div>
                          <div class="col-sm-3 pr-0 ">
                            <div class="expand">
                              <img src="/assets/images/block-mini.png" draggable="false" title="Block Number"
                                alt="Block Number">
                              <p> Block Number</p>
                            </div>
                            <span>{{sideNavDetails?.bankLoanDetails?.blockchaintimeline?.loanapproveddetails?.blocknunmber ? sideNavDetails?.bankLoanDetails?.blockchaintimeline?.loanapproveddetails?.blocknunmber:'-'  }}</span>
                          </div>
                          <div class="col-sm-6 pr-0">
                            <div class="expand">
                              <img src="/assets/images/time.svg" draggable="false" title="Timestamp" alt="Timestamp">
                              <p> Timestamp</p>
                            </div>
                            <span>{{sideNavDetails?.bankLoanDetails?.blockchaintimeline?.loanapproveddetails?.timestamp ? sideNavDetails?.bankLoanDetails?.blockchaintimeline?.loanapproveddetails?.timestamp:'-'  }}</span>
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                </div>
                <div class="col-sm-12 main-pad block-chain">
                  <div class="block-chain-outer">
                    <div class="circle"></div>
                    <span> Loan Application</span>
                  </div>
                  <div class="block-div">
                    <span>Sent on:
                      {{sideNavDetails?.bankLoanDetails?.loandetails?.dateofapplication? sideNavDetails?.bankLoanDetails?.loandetails?.dateofapplication:'-'}}</span>
                  </div>
                  <div class="block-chain-outer-main">
                    <mat-accordion>
                      <mat-expansion-panel [hideToggle]="true" (opened)="panelOpenStateBank2 = true"
                        (closed)="panelOpenStateBank2 = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <div>
                              <p>Transaction Hash</p>
                              <span
                                *ngIf="sideNavDetails?.bankLoanDetails?.blockchaintimeline?.loanapplieddetails?.transactionhash">
                                {{(sideNavDetails?.bankLoanDetails?.blockchaintimeline?.loanapplieddetails?.transactionhash.length>60)? (sideNavDetails?.bankLoanDetails?.blockchaintimeline?.loanapplieddetails?.transactionhash  | slice:0:60)+'..':(str) }}

                              </span>
                            </div>
                            <div class="dropdown-block">
                              <ng-container *ngIf="!panelOpenStateBank2">
                                <span>View More <img src="/assets/images/dropdown.svg" draggable="false"
                                    title="View More" alt="View More"> </span>
                              </ng-container>
                              <ng-container *ngIf="panelOpenStateBank2">
                                <span>View Less <img src="/assets/images/dropdown.svg" draggable="false"
                                    title="View Less" class="rotate" alt="View Less"> </span>
                              </ng-container>
                            </div>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="sidenav-cont-main mt-10">
                          <div class="col-sm-4  pr-0">
                            <div class="expand">
                              <img src="/assets/images/connect.png" draggable="false" title="Transaction Status"
                                alt="Transaction Status">
                              <p>Transaction Status</p>
                            </div>
                            <span
                              class="success">{{sideNavDetails?.bankLoanDetails?.blockchaintimeline?.loanapplieddetails?.transactionstatus ? sideNavDetails?.bankLoanDetails?.blockchaintimeline?.loanapplieddetails?.transactionstatus:'-'  }}</span>
                          </div>
                          <div class="col-sm-3 pr-0 ">
                            <div class="expand">
                              <img src="/assets/images/block-mini.png" draggable="false" title="Block Number"
                                alt="Block Number">
                              <p> Block Number</p>
                            </div>
                            <span>{{sideNavDetails?.bankLoanDetails?.blockchaintimeline?.loanapplieddetails?.blocknunmber ? sideNavDetails?.bankLoanDetails?.blockchaintimeline?.loanapplieddetails?.blocknunmber:'-'  }}</span>
                          </div>
                          <div class="col-sm-6 pr-0">
                            <div class="expand">
                              <img src="/assets/images/time.svg" draggable="false" title="Timestamp" alt="Timestamp">
                              <p> Timestamp</p>
                            </div>
                            <span>{{sideNavDetails?.bankLoanDetails?.blockchaintimeline?.loanapplieddetails?.timestamp ? sideNavDetails?.bankLoanDetails?.blockchaintimeline?.loanapplieddetails?.timestamp:'-'  }}</span>
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="INSURANCE">
          <div class="outer-div">
            <div class="sidenav-box">
              <div class="sidenav-cont-header">
                <i class="material-icons"> security</i>
                <p>Insurance Details</p>
                <span></span>
              </div>
              <div class="sidenav-cont-main">
                <div class="col-sm-6 main-pad">
                  <p> Policy Number</p>
                  <span>{{sideNavDetails?.insuranceDetails?.insurancedetails?.insurancepolicyno? sideNavDetails?.insuranceDetails?.insurancedetails?.insurancepolicyno:'-'}}</span>
                </div>
                <div class="col-sm-6 main-pad">
                  <p> Insurance Vendor</p>
                  <span>{{sideNavDetails?.insuranceDetails?.insurancedetails?.insurancevendor? sideNavDetails?.insuranceDetails?.insurancedetails?.insurancevendor:'-'}}</span>
                </div>
              </div>
              <div class="sidenav-cont-main">
                <div class="col-sm-6 main-pad">
                  <p> Received On</p>
                  <span>{{sideNavDetails?.insuranceDetails?.insurancedetails?.insurancereceiveddate? sideNavDetails?.insuranceDetails?.insurancedetails?.insurancereceiveddate:'-'}}</span>
                </div>
                <div class="col-sm-6 main-pad">
                  <p> Premium Amount (AED)</p>
                  <span>{{sideNavDetails?.insuranceDetails?.insurancedetails?.premiumamount? sideNavDetails?.insuranceDetails?.insurancedetails?.premiumamount:'-'}}</span>
                </div>
              </div>
              <div class="sidenav-cont-main">
                <div class="col-sm-12 main-pad">
                  <p> Supporting Credentials</p>
                  <div class="row  pr-align mt-5p">
                    <span class="row-flex">
                      SmartPass ID
                      <div class="outer-round"
                        *ngIf="sideNavDetails?.insuranceDetails?.insurancedetails?.smartpassidsubmission && sideNavDetails?.insuranceDetails?.insurancedetails?.smartpassidsubmission ===1">
                        <i class="material-icons">
                          done
                        </i>
                      </div>
                    </span>
                    <span class="row-flex">
                      Car Quote
                      <div class="outer-round"
                        *ngIf="sideNavDetails?.insuranceDetails?.insurancedetails?.carquotesubmission && sideNavDetails?.insuranceDetails?.insurancedetails?.carquotesubmission ===1">
                        <i class="material-icons">
                          done
                        </i>
                      </div>
                    </span>
                    <span class="row-flex">
                      Driving License
                      <div class="outer-round"
                        *ngIf="sideNavDetails?.insuranceDetails?.insurancedetails?.drivinglicensesubmission && sideNavDetails?.insuranceDetails?.insurancedetails?.drivinglicensesubmission ===1">
                        <i class="material-icons">
                          done
                        </i>
                      </div>
                    </span>
                    <span class="row-flex">
                      Approved Loan Receipt
                      <div class="outer-round"
                        *ngIf="sideNavDetails?.insuranceDetails?.insurancedetails?.approvedloanreceiptsubmission && sideNavDetails?.insuranceDetails?.insurancedetails?.approvedloanreceiptsubmission ===1">
                        <i class="material-icons">
                          done
                        </i>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="sidenav-box">
              <div class="sidenav-cont-header">
                <img src="/assets/images/block.png" draggable="false" title="Blockchain Timeline"
                  alt="Blockchain Timeline">
                <p>Blockchain Timeline</p>
                <span></span>
              </div>
              <div class="sidenav-cont-main">
                <div class="col-sm-12 main-pad block-chain">
                  <div class="block-chain-outer">
                    <div class="circle"></div>
                    <span> Insurance Quote</span>
                  </div>
                  <div class="block-div">
                    <span>Received on:
                      {{sideNavDetails?.insuranceDetails?.insurancedetails?.insurancereceiveddate? sideNavDetails?.insuranceDetails?.insurancedetails?.insurancereceiveddate:'-'}}</span>
                  </div>
                  <div class="block-chain-outer-main">
                    <mat-accordion>
                      <mat-expansion-panel [hideToggle]="true" (opened)="panelOpenStateInsurance = true"
                        (closed)="panelOpenStateInsurance = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <div>
                              <p>Transaction Hash</p>
                              <span *ngIf="sideNavDetails?.insuranceDetails?.blockchaintimeline?.transactionhash">
                                {{(sideNavDetails?.insuranceDetails?.blockchaintimeline?.transactionhash.length>60)? (sideNavDetails?.insuranceDetails?.blockchaintimeline?.transactionhash  | slice:0:60)+'..':(sideNavDetails?.insuranceDetails?.blockchaintimeline?.transactionhash) }}</span>
                            </div>
                            <div class="dropdown-block">
                              <ng-container *ngIf="!panelOpenStateInsurance">
                                <span>View More <img src="/assets/images/dropdown.svg" draggable="false"
                                    title="View More" alt="View More"> </span>
                              </ng-container>
                              <ng-container *ngIf="panelOpenStateInsurance">
                                <span>View Less <img src="/assets/images/dropdown.svg" draggable="false"
                                    title="View Less" class="rotate" alt="View Less"> </span>
                              </ng-container>
                            </div>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="sidenav-cont-main mt-10">
                          <div class="col-sm-4  pr-0">
                            <div class="expand">
                              <img src="/assets/images/connect.png" draggable="false" title="Transaction Status"
                                alt="Transaction Status">
                              <p>Transaction Status</p>
                            </div>
                            <span
                              class="success">{{sideNavDetails?.insuranceDetails?.blockchaintimeline?.transactionstatus ? sideNavDetails?.insuranceDetails?.blockchaintimeline?.transactionstatus :'-' }}</span>
                          </div>
                          <div class="col-sm-3 pr-0 ">
                            <div class="expand">
                              <img src="/assets/images/block-mini.png" draggable="false" title="Block Number"
                                alt="Block Number">
                              <p> Block Number</p>
                            </div>
                            <span>{{sideNavDetails?.insuranceDetails?.blockchaintimeline?.blocknunmber ? sideNavDetails?.insuranceDetails?.blockchaintimeline?.blocknunmber :'-' }}</span>
                          </div>
                          <div class="col-sm-6 pr-0">
                            <div class="expand">
                              <img src="/assets/images/time.svg" draggable="false" title="Timestamp" alt="Timestamp">
                              <p> Timestamp</p>
                            </div>
                            <span>{{sideNavDetails?.insuranceDetails?.blockchaintimeline?.timestamp ? sideNavDetails?.insuranceDetails?.blockchaintimeline?.timestamp :'-' }}</span>
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="REGISTRATION">
          <div class="outer-div-bank">
            <div class="sidenav-box">
              <div class="sidenav-cont-header">
                <i class="material-icons"> list_alt</i>
                <p>Registration Details</p>
                <span></span>
              </div>
              <div class="sidenav-cont-main">
                <div class="col-sm-6 main-pad">
                  <p> Reference Number</p>
                  <span>{{sideNavDetails?.policeRegDetails?.regdetails?.vehicelregistrationrefno ? sideNavDetails?.policeRegDetails?.regdetails?.vehicelregistrationrefno:'-'}}</span>
                </div>
                <div class="col-sm-6 main-pad">
                  <p> Vehicle Plate Number</p>
                  <span>{{sideNavDetails?.policeRegDetails?.regdetails?.vehicleplatenumber ? sideNavDetails?.policeRegDetails?.regdetails?.vehicleplatenumber:'-'}}</span>
                </div>
              </div>
              <div class="sidenav-cont-main">
                <div class="col-sm-6 main-pad">
                  <p> Registration Start Date</p>
                  <span>{{sideNavDetails?.policeRegDetails?.regdetails?.regstartdate ? sideNavDetails?.policeRegDetails?.regdetails?.regstartdate:'-'}}</span>
                </div>
                <div class="col-sm-6 main-pad ">
                  <p> Registration Expiry Date</p>
                  <span>{{sideNavDetails?.policeRegDetails?.regdetails?.regexpdate ? sideNavDetails?.policeRegDetails?.regdetails?.regexpdate:'-'}}</span>
                </div>
              </div>
              <div class="sidenav-cont-main">
                <div class="col-sm-12 main-pad">
                  <p> Supporting Credentials</p>
                  <div class="row  pr-align mt-5p">
                    <span class="row-flex">
                      SmartPass ID
                      <div class="outer-round"
                        *ngIf="sideNavDetails?.policeRegDetails?.regdetails?.smartpassidsubmission && sideNavDetails?.policeRegDetails?.regdetails?.smartpassidsubmission === 1">
                        <i class="material-icons">
                          done
                        </i>
                      </div>
                    </span>
                    <span class="row-flex">
                      Car Quote
                      <div class="outer-round"
                        *ngIf=" sideNavDetails?.policeRegDetails?.regdetails?.carquotesubmission && sideNavDetails?.policeRegDetails?.regdetails?.carquotesubmission === 1">
                        <i class="material-icons">
                          done
                        </i>
                      </div>
                    </span>
                    <span class="row-flex">
                      Driving License
                      <div class="outer-round"
                        *ngIf="sideNavDetails?.policeRegDetails?.regdetails?.drivinglicensesubmission && sideNavDetails?.policeRegDetails?.regdetails?.drivinglicensesubmission === 1">
                        <i class="material-icons">
                          done
                        </i>
                      </div>
                    </span>
                    <span class="row-flex">
                      Insurance Receipt
                      <div class="outer-round"
                        *ngIf="sideNavDetails?.policeRegDetails?.regdetails?.insurancereceiptsubmission && sideNavDetails?.policeRegDetails?.regdetails?.insurancereceiptsubmission === 1">
                        <i class="material-icons">
                          done
                        </i>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="sidenav-box">
              <div class="sidenav-cont-header">
                <img src="/assets/images/block.png" draggable="false" title="Blockchain Timeline"
                  alt="Blockchain Timeline">
                <p>Blockchain Timeline</p>
                <span></span>
              </div>
              <div class="sidenav-cont-main dis-block">
                <div class="col-sm-12 main-pad block-chain">
                  <div class="line-through"
                    [ngClass]="{'open': panelOpenStateRegistration ,'close': !panelOpenStateRegistration }"></div>
                  <div class="block-chain-outer">
                    <div class="circle"></div>
                    <span> Registration Approval</span>
                  </div>
                  <div class="block-div">
                    <span>Received on:
                      {{sideNavDetails?.policeRegDetails?.regdetails?.regstartdate ? sideNavDetails?.policeRegDetails?.regdetails?.regstartdate:'-'}}</span>
                  </div>
                  <div class="block-chain-outer-main">
                    <mat-accordion>
                      <mat-expansion-panel [hideToggle]="true" (opened)="panelOpenStateRegistration = true"
                        (closed)="panelOpenStateRegistration = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <div>
                              <p>Transaction Hash</p>
                              <span
                                *ngIf="sideNavDetails?.policeRegDetails?.blockchaintimeline?.policeregapproveddetails?.transactionhash">{{(sideNavDetails?.policeRegDetails?.blockchaintimeline?.policeregapproveddetails?.transactionhash?.length>60)? (sideNavDetails?.policeRegDetails?.blockchaintimeline?.policeregapproveddetails?.transactionhash | slice:0:60)+'..':(sideNavDetails?.policeRegDetails?.blockchaintimeline?.policeregapproveddetails?.transactionhash) }}</span>
                            </div>
                            <div class="dropdown-block">
                              <ng-container *ngIf="!panelOpenStateRegistration">
                                <span>View More <img src="/assets/images/dropdown.svg" draggable="false"
                                    title="View More" alt="View More"> </span>
                              </ng-container>
                              <ng-container *ngIf="panelOpenStateRegistration">
                                <span>View Less <img src="/assets/images/dropdown.svg" draggable="false"
                                    title="View Less" class="rotate" alt="View Less"> </span>
                              </ng-container>
                            </div>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="sidenav-cont-main mt-10">
                          <div class="col-sm-4  pr-0">
                            <div class="expand">
                              <img src="/assets/images/connect.png" draggable="false" title="Transaction Status"
                                alt="Transaction Status">
                              <p>Transaction Status</p>
                            </div>
                            <span
                              class="success">{{sideNavDetails?.policeRegDetails?.blockchaintimeline?.policeregapproveddetails?.transactionstatus ? sideNavDetails?.policeRegDetails?.blockchaintimeline?.policeregapproveddetails?.transactionstatus : '-'}}</span>
                          </div>
                          <div class="col-sm-3 pr-0 ">
                            <div class="expand">
                              <img src="/assets/images/block-mini.png" draggable="false" title="Block Number"
                                alt="Block Number">
                              <p> Block Number</p>
                            </div>
                            <span>{{sideNavDetails?.policeRegDetails?.blockchaintimeline?.policeregapproveddetails?.blocknunmber ? sideNavDetails?.policeRegDetails?.blockchaintimeline?.policeregapproveddetails?.blocknunmber : '-'}}</span>
                          </div>
                          <div class="col-sm-6 pr-0">
                            <div class="expand">
                              <img src="/assets/images/time.svg" draggable="false" title="Timestamp" alt="Timestamp">
                              <p> Timestamp</p>
                            </div>
                            <span>{{sideNavDetails?.policeRegDetails?.blockchaintimeline?.policeregapproveddetails?.timestamp ? sideNavDetails?.policeRegDetails?.blockchaintimeline?.policeregapproveddetails?.timestamp : '-'}}</span>
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                </div>
                <div class="col-sm-12 main-pad block-chain">
                  <div class="block-chain-outer">
                    <div class="circle"></div>
                    <span> Registration Application</span>
                  </div>
                  <div class="block-div">
                    <span>Received on:
                      {{sideNavDetails?.policeRegDetails?.regdetails?.applicationdate ? sideNavDetails?.policeRegDetails?.regdetails?.applicationdate:'-'}}
                    </span>
                  </div>
                  <div class="block-chain-outer-main">
                    <mat-accordion>
                      <mat-expansion-panel [hideToggle]="true" (opened)="panelOpenStateRegistration2 = true"
                        (closed)="panelOpenStateRegistration2 = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <div>
                              <p>Transaction Hash</p>
                              <span
                                *ngIf="sideNavDetails?.policeRegDetails?.blockchaintimeline?.policeregapplieddetails?.transactionhash">{{(sideNavDetails?.policeRegDetails?.blockchaintimeline?.policeregapplieddetails?.transactionhash?.length>60)? (sideNavDetails?.policeRegDetails?.blockchaintimeline?.policeregapplieddetails?.transactionhash | slice:0:60)+'..':(sideNavDetails?.policeRegDetails?.blockchaintimeline?.policeregapplieddetails?.transactionhash) }}</span>

                            </div>
                            <div class="dropdown-block">
                              <ng-container *ngIf="!panelOpenStateRegistration2">
                                <span>View More <img src="/assets/images/dropdown.svg" draggable="false"
                                    title="View More" alt="View More"> </span>
                              </ng-container>
                              <ng-container *ngIf="panelOpenStateRegistration2">
                                <span>View Less <img src="/assets/images/dropdown.svg" draggable="false"
                                    title="View Less" class="rotate" alt="View Less"> </span>
                              </ng-container>
                            </div>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="sidenav-cont-main mt-10">
                          <div class="col-sm-4  pr-0">
                            <div class="expand">
                              <img src="/assets/images/connect.png" draggable="false" title="Transaction Status"
                                alt="Transaction Status">
                              <p>Transaction Status</p>
                            </div>
                            <span
                              class="success">{{sideNavDetails?.policeRegDetails?.blockchaintimeline?.policeregapplieddetails?.transactionstatus ? sideNavDetails?.policeRegDetails?.blockchaintimeline?.policeregapplieddetails?.transactionstatus : '-'}}</span>
                          </div>
                          <div class="col-sm-3 pr-0 ">
                            <div class="expand">
                              <img src="/assets/images/block-mini.png" draggable="false" title="Block Number"
                                alt="Block Number">
                              <p> Block Number</p>
                            </div>
                            <span>{{sideNavDetails?.policeRegDetails?.blockchaintimeline?.policeregapplieddetails?.blocknunmber ? sideNavDetails?.policeRegDetails?.blockchaintimeline?.policeregapplieddetails?.blocknunmber : '-'}}</span>
                          </div>
                          <div class="col-sm-6 pr-0">
                            <div class="expand">
                              <img src="/assets/images/time.svg" draggable="false" title="Timestamp" alt="Timestamp">
                              <p> Timestamp</p>
                            </div>
                            <span>{{sideNavDetails?.policeRegDetails?.blockchaintimeline?.policeregapplieddetails?.timestamp ? sideNavDetails?.policeRegDetails?.blockchaintimeline?.policeregapplieddetails?.timestamp : '-'}}</span>

                          </div>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </ng-container>
</div>