.btn-primary{
    width: auto;
    height: 45px;
    border-radius: 3px;
    background: #1089FF;
    border-color: #1089FF;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding:10px 20px;
    box-sizing: border-box;
    &:focus{
        box-shadow: none;
    }
}
.btn-light-danger{
   color: #E13212;
   border:1px solid white;
   font-size: 14px;
   font-weight: bold;
   background: white;
   padding: 10px 20px;
   height: 45px;
   &:focus, &:hover{
       background: #E13212;
       border:1px solid #E13212;
       color: white;
   }
}