$primary :#323846;
$btn-submit: #1089FF;
$border-color: #EAEAEC;
$card-background: #E6F3FF;
$border-color-right: #1089FF;
$card-border-color: #1089FF80;
$success-text-color: #00A752;
$error-text-color: #E13212B5;
