.absError{
    position: absolute;
    bottom: -22px;
}
.btnViewPassword{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: transparent;
    border: none;
    &:focus{
        outline: 0px auto -webkit-focus-ring-color;
    }
}
.noDetails{
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
}