@font-face {
  font-family: 'CircularStd';
  src: url('assets/fonts/CircularStdBold.eot') format('eot'), /* Super Modern Browsers */
       url('assets/fonts/CircularStdBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('assets/fonts/CircularStdBold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 600;
  font-style: bold;

}

/* font-size */

.font-10 {
  font-size: 10px;
}

.font-11 {
  font-size: 11px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-17 {
  font-size: 17px;
}

.font-18 {
  font-size: 18px;
}

.font-19 {
  font-size: 19px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}

.font-25 {
  font-size: 25px;
}

.font-26 {
  font-size: 26px;
}

.font-28 {
  font-size: 28px;
}

.font-30 {
  font-size: 30px;
}

.font-31 {
  font-size: 31px;
}


/* font-weight */

.weight-100 {
  font-weight: 100;
}

.weight-200 {
  font-weight: 200;
}

.weight-300 {
  font-weight: 300;
}

.weight-400 {
  font-weight: 400;
}

.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}
.weight-800{
  font-weight: 800;
}