

.mt-3{margin-top: 3px;}
.mb-3{margin-bottom: 3px;}
.mr-3{margin-right: 3px;}
.ml-3{margin-left: 3px;}
/*.mh-3{.mr-3 ; .ml-3;}
.mv-3{.mt-3 ; .mb-3;}*/
.ma-3{margin: 3px;}

.pt-3{padding-top: 3px;}
.pb-3{padding-bottom: 3px;}
.pr-3{padding-right: 3px;}
.pl-3{padding-left: 3px;}
/*.ph-3{.pr-3 ; .pl-3;}
.pv-3{.pt-3 ; .pb-3;}*/
.pa-3{padding: 3px;}

// 5px
.mt-5{margin-top: 5px;}
.mb-5{margin-bottom: 5px;}
.mr-5{margin-right: 5px;}
.ml-5{margin-left: 5px;}
/*.mh-5{.mr-5 ; .ml-5;}
.mv-5{.mt-5 ; .mb-5;}*/
.ma-5{margin: 5px;}

.pt-5{padding-top: 5px;}
.pb-5{padding-bottom: 5px;}
.pr-5{padding-right: 5px;}
.pl-5{padding-left: 5px;}
/*.ph-5{.pr-5 ; .pl-5;}
.pv-5{.pt-5 ; .pb-5;}*/
.pa-5{padding: 5px;}

// 10px
.mt-10{margin-top: 10px;}
.mb-10{margin-bottom: 10px;}
.mr-10{margin-right: 10px;}
.ml-10{margin-left: 10px;}
/*.mh-10{.mr-10 ; .ml-10;}
.mv-10{.mt-10 ; .mb-10;}*/
.ma-10{margin: 10px;}

.pt-10{padding-top: 10px;}
.pb-10{padding-bottom: 10px;}
.pr-10{padding-right: 10px;}
.pl-10{padding-left: 10px;}
/*.ph-10{.pr-10 ; .pl-10;}
.pv-10{.pt-10 ; .pb-10;}*/
.pa-10{padding: 10px;}

// 15px
.mt-15{margin-top: 15px;}
.mb-15{margin-bottom: 15px;}
.mr-15{margin-right: 15px;}
.ml-15{margin-left: 15px;}
/*.mh-15{.mr-15 ; .ml-15;}
.mv-15{.mt-15 ; .mb-15;}*/
.ma-15{margin: 15px;}

.pt-15{padding-top: 15px;}
.pb-15{padding-bottom: 15px;}
.pr-15{padding-right: 15px;}
.pl-15{padding-left: 15px;}
/*.ph-15{.pr-15 ; .pl-15;}
.pv-15{.pt-15 ; .pb-15;}*/
.pa-15{padding: 15px;}

// 20px
.mt-20{margin-top: 20px;}
.mb-20{margin-bottom: 20px;}
.mr-20{margin-right: 20px;}
.ml-20{margin-left: 20px;}
/*.mh-20{.mr-20 ; .ml-20;}
.mv-20{.mt-20 ; .mb-20;}*/
.ma-20{margin: 20px;}

.pt-20{padding-top: 20px;}
.pb-20{padding-bottom: 20px;}
.pr-20{padding-right: 20px;}
.pl-20{padding-left: 20px;}
/*.ph-20{.pr-20 ; .pl-20;}
.pv-20{.pt-20 ; .pb-20;}*/
.pa-20{padding: 20px;}

// 25px
.mt-25{margin-top: 25px;}
.mb-25{margin-bottom: 25px;}
.mr-25{margin-right: 25px;}
.ml-25{margin-left: 25px;}
/*.mh-25{.mr-25 ; .ml-25;}
.mv-25{.mt-25 ; .mb-25;}*/
.ma-25{margin: 25px;}

.pt-25{padding-top: 25px;}
.pb-25{padding-bottom: 25px;}
.pr-25{padding-right: 25px;}
.pl-25{padding-left: 25px;}
/*.ph-25{.pr-25 ; .pl-25;}
.pv-25{.pt-25 ; .pb-25;}*/
.pa-25{padding: 25px;}

// 30px
.mt-30{margin-top: 30px;}
.mb-30{margin-bottom: 30px;}
.mr-30{margin-right: 30px;}
.ml-30{margin-left: 30px;}
/*.mh-30{.mr-30 ; .ml-30;}
.mv-30{.mt-30 ; .mb-30;}*/
.ma-30{margin: 30px;}

.pt-30{padding-top: 30px;}
.pb-30{padding-bottom: 30px;}
.pr-30{padding-right: 30px;}
.pl-30{padding-left: 30px;}
/*.ph-30{.pr-30 ; .pl-30;}
.pv-30{.pt-30 ; .pb-30;}*/
.pa-30{padding: 30px;}

// 0px
.mt-0{margin-top: 0px;}
.mb-0{margin-bottom: 0px;}
.mr-0{margin-right: 0px;}
.ml-0{margin-left: 0px;}
/*.mh-0{.mr-0 ; .ml-0;}
.mv-0{.mt-0 ; .mb-0;}*/
.ma-0{margin: 0px;}

.pt-0{padding-top: 0px;}
.pb-0{padding-bottom: 0px;}
.pr-0{padding-right: 0px;}
.pl-0{padding-left: 0px;}
/*.ph-0{.pr-0 ; .pl-0;}
.pv-0{.pt-0 ; .pb-0;}*/
.pa-0{padding: 0px;}

// auto
.mh-a{margin-right: auto;margin-left: auto;}



.pl-40{padding-left: 40px;}
.mb-40{ margin-bottom: 40px;}
.pt-80{padding-top: 80px;}
.pr-60{padding-right: 60px};
.pl-80{padding-left: 80px;}
.mb-75{margin-bottom: 75px};
.pr-150{padding-right: 150px;}
.mt--125{margin-top: -125px;}
