

$brand-dark:             #333;
$brand-ash:             #95969a;
$brd-clr:             #d4d9e2;


.dib{ display: inline-block;}
.hide{ display: none}
.show{ display: block}
.oh{ overflow: hidden;}
.fw{ width:100%}
.fh{ height:100%}
.brdn{ border:none;}




// Position
.absolute{ position: absolute;}
.fixed{ position: fixed;}
.relative{ position: relative;}
.static{position: static;}




.fwl{ font-weight: 200; }
.fwr{ font-weight: 400; }
.fwb{ font-weight: 600; }
.bold{ font-weight: 700;}
.ex-bold{ font-weight: 800;}

.text-xl{font-size: 18px;}
.text-lg{font-size: 16px;}
.text-md{font-size: 14px;}
.text-sm{font-size: 12px;}
.text-xs{font-size: 10px;}
.vm{ vertical-align: middle; }
.u{text-decoration: underline;}

/*.cv{
  top: 50%;
  .translateY(-50%);
}
.ch{
  left: 50%;
  .translateX(-50%);
}
.ca{
  left: 50%;
  top: 50%;
  .translate(-50% , -50%);
}*/

//Float
.pull-none{float:none}

.text-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.word-break{
    display: inline-block;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word;
}

.cp{
	cursor: pointer;
}
.red{
  color: red;
  font-size: 12px;
}