footer{
    height: 65px;
    background: #121B2F;
    padding: 20px 85px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    nav{
        position: relative;
        top: 3px;
        a{
            color: white;
            text-decoration: none;
            padding-right: 55px;
            font-size: 14px;
            //font-family: 'CircularStd', sans-serif;
            font-weight: 100;
        }
    }
    label{
        position: absolute;
        right: 85px;
        top: 22px;
        color: white;
    }
}