<footer>
    <nav>
        <a href="">Privacy & Security</a> 
        <a href="">Terms & Conditions</a> 
        <a href="">Hyperlink Policy</a> 
        <a href="">Group Website</a>
    </nav>
    <label>&copy; 2019</label>
       
</footer>
