<div class="mt-10 mb-50" id="historyId">
  <div class="history-options">
    <mat-form-field class="search">
      <mat-icon matPrefix>search</mat-icon>
      <input type="tel" matInput placeholder="Search Applications">
    </mat-form-field>
    <div class="history-options-end">
      <div class="history-options-end-pad">
        <label>Sort By :</label>
        <mat-form-field>
          <mat-select [(ngModel)]="SortBy">
            <mat-option value="Recent">Recent</mat-option>
            <mat-option value="Ascending">Ascending</mat-option>
            <mat-option value="Decending">Decending</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="history-options-end-pad ">
        <img src="/assets/images/filter.svg" draggable="false" title="filter" alt="filter">
        <span>Filter</span>
      </div>
    </div>
  </div>
  <ng-container *ngIf="!historySource">
    <span class="no-requests">No History found.</span>
  </ng-container>
  <ng-container *ngIf="historySource">
    <table mat-table [dataSource]="historySource">
      <ng-container matColumnDef="Application Date">
        <th mat-header-cell *matHeaderCellDef>Application Date</th>
        <td mat-cell *matCellDef="let element">
          {{element.vehicleregdetails.registrationapplieddate ? element.vehicleregdetails.registrationapplieddate:'-'}}
        </td>
      </ng-container>
      <ng-container matColumnDef="Ref.Reference">
        <th mat-header-cell *matHeaderCellDef>Ref.Reference</th>
        <td mat-cell *matCellDef="let element">
          {{element.vehicleregdetails.vehicelregistrationrefno ? element.vehicleregdetails.vehicelregistrationrefno :'-'}}
        </td>
      </ng-container>
      <ng-container matColumnDef="Booking ID">
        <th mat-header-cell *matHeaderCellDef>Booking ID</th>
        <td mat-cell *matCellDef="let element">
          {{element.vehicleregdetails.bookingno?element.vehicleregdetails.bookingno:'-' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Car Manufacture">
        <th mat-header-cell *matHeaderCellDef>Car Manufacture</th>
        <td mat-cell *matCellDef="let element">{{element.bookingdetails.carmake?element.bookingdetails.carmake:'-'}}
        </td>
      </ng-container>
      <ng-container matColumnDef="Model">
        <th mat-header-cell *matHeaderCellDef>Model </th>
        <td mat-cell *matCellDef="let element">{{element.bookingdetails.carmodel?element.bookingdetails.carmodel:'-'}}
        </td>
      </ng-container>
      <ng-container matColumnDef="Registration Status">
        <th mat-header-cell *matHeaderCellDef>Registration Status </th>
        <td mat-cell *matCellDef="let element">
          <div class="verified" *ngIf="element.vehicleregdetails.registrationstatus === 1">
            <i class="material-icons"> check_circle_outline </i>
            <p>
              Verified<span>{{element.vehicleregdetails.registrationapproveddate? element.vehicleregdetails.registrationapproveddate:'-' }}</span>
            </p>
          </div>
          <div class="rejected" *ngIf="element.vehicleregdetails.registrationstatus === 0">
            <i class="material-icons"> add_circle_outline </i>
            <p>
              Rejected<span>{{element.vehicleregdetails.registrationapplieddate? element.vehicleregdetails.registrationapplieddate:'-' }}</span>
            </p>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> <a class="table-view-more" (click)="openSideNav(element)">View More</a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-container>


</div>

<div id="history-sideNav" class="sidenav">
  <ng-container *ngIf="sideNavDetails">
    <div class="sidenav-header">
      <div class="sidenav-header-pad">
        <div class="side-nav-header-contents">
          <h4>REG. REFERENCE:
            {{sideNavDetails.vehicleregdetails.vehicelregistrationrefno ? sideNavDetails.vehicleregdetails.vehicelregistrationrefno:'-' }}
          </h4>
          <div class="verified" *ngIf="sideNavDetails.vehicleregdetails.registrationstatus === 1">
            <i class="material-icons"> check_circle_outline </i>
            <p>Verified<span>13-09-2019</span></p>
          </div>
          <div class="rejected" *ngIf="sideNavDetails.vehicleregdetails.registrationstatus === 0">
            <i class="material-icons"> add_circle_outline </i>
            <p>
              Rejected<span>{{sideNavDetails.vehicleregdetails.registrationapplieddate? sideNavDetails.vehicleregdetails.registrationapplieddate:'-' }}</span>
            </p>
          </div>
          <img src="/assets/images/close.svg" (click)="closeSideNav()" draggable="false" title="close" alt="close">
        </div>
        <span class="load-details">VEHICLE REGISTRATION</span>
        <p class="appl-date">Application Date:
          {{sideNavDetails.vehicleregdetails.registrationapplieddate ? sideNavDetails.vehicleregdetails.registrationapplieddate:'-' }}
        </p>
      </div>

    </div>
    <div class="sidenav-main-content">
      <div class="sidenav-box">
        <div class="sidenav-cont-header">
          <img src="/assets/images/person.svg" draggable="false" title="Application Details" alt="Application Details">
          <p>Application Details</p>
        </div>
        <div class="sidenav-cont-main">
          <div class="col-sm-6 main-pad">
            <p> First Name</p>
            <span>{{sideNavDetails.loandetails.applicantfname ? sideNavDetails.loandetails.applicantfname:'-' }}</span>
          </div>
          <div class="col-sm-6 main-pad">
            <p> Last Name</p>
            <span>{{sideNavDetails.loandetails.applicantlname ? sideNavDetails.loandetails.applicantlname:'-' }}</span>
          </div>
        </div>
      </div>
      <div class="sidenav-box">
        <div class="sidenav-cont-header">
          <img src="/assets/images/car.svg" draggable="false" title="Car Details" alt="Car Details">

          <p>Car Details</p>
        </div>
        <div class="sidenav-cont-main">
          <div class="col-sm-6 main-pad">
            <p> Dealer</p>
            <span>{{sideNavDetails.bookingdetails.cardealername ? sideNavDetails.bookingdetails.cardealername:'-' }}</span>
          </div>
          <div class="col-sm-6 main-pad">
            <p> Booking ID</p>
            <span>{{sideNavDetails.vehicleregdetails.bookingno?sideNavDetails.vehicleregdetails.bookingno:'-' }}</span>
          </div>
        </div>
        <div class="sidenav-cont-main">
          <div class="col-sm-6 main-pad">
            <p> Car Manufacturer</p>
            <span>{{sideNavDetails.bookingdetails.carmake?sideNavDetails.bookingdetails.carmake:'-' }}</span>
          </div>
          <div class="col-sm-6 main-pad">
            <p> Model</p>
            <span>{{sideNavDetails.bookingdetails.carmodel?sideNavDetails.bookingdetails.carmodel:'-' }}</span>
          </div>
        </div>
        <div class="sidenav-cont-main">
          <div class="col-sm-6 main-pad">
            <p> Ex-Showroom Price (AED)</p>
            <span>{{sideNavDetails.bookingdetails.exshowroomprice ? sideNavDetails.bookingdetails.exshowroomprice:'-' }}</span>
          </div>
        </div>
      </div>
      <div class="sidenav-box">
        <div class="sidenav-cont-header">
          <img src="/assets/images/list.svg" draggable="false" title="Insurance Details" alt="Insurance Details">
          <p>Insurance Details</p>
        </div>
        <div class="sidenav-cont-main">
          <div class="col-sm-6 main-pad">
            <p> Policy Number</p>
            <span>{{sideNavDetails.bookingdetails.insurancepolicyno?sideNavDetails.bookingdetails.insurancepolicyno:'-' }}</span>
          </div>
          <div class="col-sm-6 main-pad">
            <p> Insurance Vendor</p>
            <span>{{sideNavDetails.insurancedetails.insurancevendor?sideNavDetails.insurancedetails.insurancevendor:'-' }}</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

</div>