@import '../../scss/colors';

.historyViewMore{
    display: block;
    width: 50%;
    position: fixed;
    top: 75px;
    right: 0;
    background: #fff;
    // height: 505px;
    height: calc(100vh - 75px);
    overflow-y: scroll;
    border: 1px solid $border-color;
    border-top: none;
    //padding: 20px;
    .header{
      padding: 20px;
      padding-bottom: 0px;
      .title{
        color: #1089FF;
        font-weight: 800;
        display: inline-block;
        width:48%;
        margin-bottom: 0px;
      }
    }
    .line{
      color: $border-color;
      border: 0.5px solid;
    //margin-bottom: 20px;
    }
  .closeView{
    float: right;
  }

}
.loanName{
  margin-top: 6px;
  margin-bottom: 0px;
}
.applicationDate{
  font-family: 'Roboto',  sans-serif;
  margin: 20px 0px 20px 0px;
}
.historyList{
  margin-left: 30px;
  width: 90%;
       .filterSectionContainer{
           margin-top: 20px;
       .filterSectionTitle {
         text-align: right;
       }
       }
.table-striped tbody tr:nth-of-type(odd){
    background: #1089FF08;
}
table.font-14.table.table-striped.customTable{
  margin-bottom: 0px;
  // border-bottom: none;

}
.customTable {
  border: 1px solid $border-color;

  td{
        padding-top: 10px;
        vertical-align: middle;
        // border-top: 1px solid #dee2e6;
        padding-bottom: 10px;

  }
  .tableHead{
      background: #FBF9F3;
      margin-bottom: 0px;
      // border-bottom: none;
      border-top: none;
     tr{

       th{
           border-bottom: 1px solid $border-color;
       }
       
     }
  }
  .viewMore{
      color: $btn-submit;
      font-family: 'Roboto',  sans-serif;
      font-size: 14px;
      font-weight: 500;
      
  }
}
}

.loanCard {
  margin: 20px;
  margin-bottom: 15px;
  .cardHeaderSection {
    background: #FBF9F3;
  }
  .title {
    margin-left: 10px;
    font-weight: 400;
  }
  .heading {
    margin: 0px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }

  .cardDetails {
    margin-bottom: 20px;
  }

  .documentsNumber,
  .checked {
    float: right;
  }
  .checked{
    .text{
      margin-right: 8px;
    }
  }

  .supportingCredentialList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .supportingCredential {
      width: 48%;
      border: 1px solid #42B88380;
      border-radius: 3px;
      padding: 10px 20px 10px 20px;
      background: #52DE9733;
      margin-bottom: 10px;
      
    }
    .rejectedSupportingCredential{
      width: 48%;
      border: 1px solid #E13212B5;
      border-radius: 3px;
      padding: 10px 20px 10px 20px;
        background: #E1321233;
      margin-bottom: 10px;
    }
  }

}

.btn-group.dropdownButton.open.show {
  display: inline-block !important;
}



// approve or rejected


.approved{
  color: $success-text-color;
  font-family: 'Roboto',sans-serif;
  border: 1px solid #42B88380;
  border-radius: 3px;
  padding: 6px 10px 6px 10px;
  background: #52DE9733;
  width: 75%;
  .text{
      margin-left: 5px;
      margin-right: 15px;
  }
}
.rejected{
        color: $error-text-color;
        font-family: 'Roboto',
        sans-serif;
        border: 1px solid #E13212B5;
        border-radius: 3px;
        padding: 6px 10px 6px 10px;
        background: #E1321233;
            width: 75%;
            .text {
              margin-left: 5px;
              margin-right: 20px;
            }
       
}
tr{
  font: 14px;
}
.highlightText{
  color: $btn-submit;
  font-weight: 800;
}

#horizontalScroll {
  overflow: auto;
}

#verticalScroll {
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid $border-color;
  border-top: none;
  height: calc(100vh - 360px);
  position: relative;
  @media(min-width: 1600px){
    height: calc(100vh - 360px);
  }
}

th,
td {
  &:nth-child(1) {
    width: 170px;
    min-width: 170px;
  }
  &:nth-child(2) {
    width: 120px;
    min-width: 120px;
  }
  &:nth-child(3) {
    width: 170px;
    min-width: 170px;
  }
  &:nth-child(4) {
    width: 140px;
    min-width: 140px;
  }
  &:nth-child(5) {
    width: 320px;
    min-width: 320px;
  }
    &:nth-child(6) {
    width: 120px;
    min-width: 120px;
    }
}

// style for scroll bar



::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-moz-scrollbar {
  width: 10px;
  height: 10px;
}


/* Track */

::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px #fff;
  // box-shadow: inset 0 0 5px ;
  border-radius: 10px;
  background: #fff;
  border: 1px solid $border-color;
}

::-moz-scrollbar-track {
  // box-shadow: inset 0 0 5px #fff;
  border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
  background: #b6bbc3;
  border-radius: 10px;
}

::-moz-scrollbar-thumb {
  background: rgba(50,56,70);
  border-radius: 10px;
}

table.font-14.table.table-striped.customTable.customTableBody{
  border: none;
}