<div class="historyList">
  <div class="filterSectionContainer">
    <div class="filterSectionTitle">
      <span class="font-14">Sort by:</span>
      <div class="btn-group dropdownButton" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn font-14 dropdown-toggle"
          aria-controls="dropdown-basic">
          Recent <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <span class="filter">
        <img src="../assets/images/tune-24px.svg">
        <span class="font-14 text">Filter</span>
      </span>

    </div>
  </div>

  <div  id="horizontalScroll" (scroll)="tableScroll()" #tableWrapper>
  <div class="" [ngClass]="{'pr-10': scrollAdded}">
  <table class="font-14 table table-striped customTable ">
    <thead class="tableHead font-14">
      <tr>
        <th scope="col">Reference Number</th>
        <th scope="col">Type</th>
        <th scope="col">Application Date</th>
        <th scope="col">Booking ID</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
  </table>


  <div id="verticalScroll" #tableBodyElement>
    <table class="font-14 table table-striped customTable customTableBody">
    <tbody>
      <tr *ngFor="let detail of details; let i = index" [className]="i == currentRowIndex ? 'highlightText' : '' ">
        <td>{{detail.loanrefno}}</td>
        <td>Car</td>
        <td>{{detail.loanapplieddate}}</td>
        <td>{{detail.bookingid}}</td>
        <td>
          <div [ngClass]="detail.loanstatus == 1 ? 'approved' : 'rejected'">
            <span class="weight-800">
              <span [ngClass]="detail.loanstatus == 1 ? 'far fa-check-circle' : 'far fa-times-circle'"></span>
              <i class=""></i>
              <span class="text">{{detail.loanstatus == 1 ? 'APPROVED' : 'REJECTED'}}</span>
              <span class="weight-400">{{setDate(detail)}}</span>
            </span>
          </div>
        </td>
        <td class="cp viewMore" (click)="viewMoreDetails(detail,i)">View More</td>
      </tr>
    </tbody>
  </table>

  <!-- show approved details -->
  <section *ngIf='showMoreDetails' @fade id="myDIV" class="historyViewMore">
    <div class="header">
      <p class="title font-20">LOAN REFERENCE: <span>{{showDetails.loanrefno}}</span></p>
      <span class="showStatus font-12">
        <!-- handled only approved status  -->
        <span class="approved weight-800">
          <i class="far fa-check-circle"></i>
          <span class="text">APPROVED</span>
          <span class="weight-400">{{showDetails.loanapproveddate}}</span>
        </span>
      </span>
      <span class="cp closeView" (click)=" closeViewMore()">
        <img src="../assets/images/close-24px.svg">
      </span>
      <p class="loanName font-12">CAR LOAN</p>
      <p class="applicationDate font-14 weight-800">Application Date: <span>{{showDetails.loanapplieddate}}</span></p>
    </div>
    <div class="line"></div>
    <div class="card loanCard">
      <div class="card-header cardHeaderSection"><i class="fas fa-user font-17"></i>
        <span class="font-18 title weight-400">Applicant Details</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <p class="heading">First Name</p>
            <span class="font-14">{{showDetails.applicantfname}}</span>
          </div>
          <div class="col-md-6">
            <p class="heading">Last Name</p>
            <span class="font-14">{{showDetails.applicantlname}}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- car details -->

    <div class="card loanCard">
      <div class="card-header cardHeaderSection"><i class="fas fa-car font-17"></i>
        <span class="font-18 title weight-400">Car Details</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 cardDetails">
            <p class="heading">Dealer</p>
            <span class="font-14">{{showDetails.dealer}}</span>
          </div>
          <div class="col-md-6 cardDetails">
            <p class="heading">Booking ID</p>
            <span class="font-14">{{showDetails.bookingid}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 cardDetails">
            <p class="heading">Car Manufacturer</p>
            <span class="font-14">{{showDetails.manufaturer}}</span>
          </div>
          <div class="col-md-6 cardDetails">
            <p class="heading">Model</p>
            <span class="font-14">{{showDetails.model}}</span>
          </div>
          <div class="col-md-6 cardDetails">
            <p class="heading">Ex-Showroom Price (AED)</p>
            <span class="font-14">{{showDetails.showroomprice}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Bank Statement -->
    <div class="card loanCard">
      <div class="card-header cardHeaderSection"><i class="fa fa-list-alt font-17" aria-hidden="true"></i>
        <span class="font-18 title weight-400">Bank Statement</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 cardDetails">
            <p class="heading">Bank Name</p>
            <span class="font-14">{{showDetails.statementbname}}</span>
          </div>
          <div class="col-md-6 cardDetails">
            <p class="heading">Account Number</p>
            <span class="font-14">{{showDetails.statementaccountnumber}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 cardDetails">
            <p class="heading">Credit Score</p>
            <span class="font-14">{{showDetails.statementcreditscore}}</span>
          </div>
          <div class="col-md-6 cardDetails">
            <p class="heading">Account Holder Name</p>
            <span class="font-14">{{accountHolderName}}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- supporting credentials -->
    <div class="card loanCard">
      <div class="card-header cardHeaderSection"><i class="fa fa-list-alt font-17" aria-hidden="true"></i>
        <span class="font-18 title weight-400">Supporting Credentials Required</span>
        <span class="documentsNumber font-14">3/3 Documents</span>
      </div>
      <div class="card-body">
        <div class="supportingCredentialList">
          <div
            [ngClass]="showDetails.smartpasssubmission == 1  ? 'supportingCredential' : 'rejectedSupportingCredential'">
            <span class="cardDetails weight-800 ">
              <span class="font-14">SmartPass ID</span>
              <span class="checked">
                <span class="text font-14">{{showDetails.smartpasssubmission == 1 ? 'Verified' : 'Rejected'}}</span>
                <span [ngClass]="showDetails.smartpasssubmission == 1 ? 'far fa-check-circle' : 'far
                              fa-times-circle'">
                </span>
              </span>
            </span>
          </div>
          <div
            [ngClass]="showDetails.smartpasssubmission == 1  ? 'supportingCredential' : 'rejectedSupportingCredential'">
            <span class="cardDetails weight-800 ">
              <span class="font-14">Car Quote</span>
              <span class="checked">
                <span class="text font-14">{{showDetails.smartpasssubmission == 1 ? 'Verified' : 'Rejected'}}</span>
                <span [ngClass]="showDetails.smartpasssubmission == 1 ? 'far fa-check-circle' : 'far
                              fa-times-circle'">
                </span>
              </span>
            </span>
          </div>
          <div
            [ngClass]="showDetails.smartpasssubmission == 1  ? 'supportingCredential' : 'rejectedSupportingCredential'">
            <span class="cardDetails weight-800 ">
              <span class="font-14">Bank Statement</span>
              <span class="checked">
                <span class="text font-14">{{showDetails.smartpasssubmission == 1 ? 'Verified' : 'Rejected'}}</span>
                <span [ngClass]="showDetails.smartpasssubmission == 1 ? 'far fa-check-circle' : 'far
                              fa-times-circle'">
                </span>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
