<nav id="admin-sidebarId" class="sidebar">
  <mat-accordion class="admin-sidebar-accordion">
    <mat-expansion-panel *ngFor="let panel of config.panels ;let i = index" [expanded]="panel.activeRoute"
      [ngClass]="{'active-main-menu':panel.activeRoute}" (click)="changesRoutesMain();">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="material-icons">{{panel.img}}</i>{{ panel.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="admin-sidebar-submenu" *ngIf="panel.subPannels">
        <div class="admin-sidebar-submenu-items" *ngFor="let subs of panel.subPannels" (click)="changeRoutes(subs)"
          [ngClass]="{'active-sub-menu': router.url===subs.routerSubLink}">
          <i class="material-icons">{{subs.icon}}</i>
          <span> {{subs.name}}</span>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</nav>