body {
    padding: 0;
    margin: 0;
}

.loginPageContainer {

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // text-align: center;

    .BrandContainer {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;


        .logoWraper {
            padding: 0px 85px;
        }


        img {
            width: 95%;
            padding: 15px;
        }
    }

    .qrContainer {

        width: 50%;
        height: 100%;
        color: #fff;
        background-image: url('/public/images/qrbg.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        .loginContentWraper {
            width: 100%;
            height: 100%;
            align-items: center;
            background: rgba(22, 16, 55, 0.90);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .main-title {
                font-size: 40px;
                font-weight: 700;
                text-align: center;
                font-family: 'CircularStd';
                margin: 0;

            }

            .sub-title {
                font-family: 'Roboto',
                    sans-serif;
                font-weight: 300;
                font-size: 20px;
                opacity: 0.5;
                margin-top: 5px;
                margin-bottom: 60px;

            }

            .qr-sub-title {
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-size: 18px;
                margin-top: 30px;
            }
        }
    }

}