.loader {
   border: 6px solid rgba(255, 255, 255, 0.3);
   border-radius: 50%;
   border-top: 6px solid #ffffff;
   width: 180px;
   height: 180px;
   -webkit-animation: spin 2s linear infinite;
   animation: spin 2s linear infinite;
   position: absolute;
   top: 180px;
   left:40%;
   transform: translateX(-50%);
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg);  }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  section{
    width: calc(100% - 75px);
    height: 100%;
    position: absolute;
    background: rgba(50, 56, 70, 0.5);
    z-index: 1000;
    right: 70px;
    top: 95px;
    border-radius: 6px;
    p{
      color: white;
      font-size: 18px;
      font-weight: bold;
      position: absolute;
      top: 380px;
      left: 42%;
    }
  }